@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);@font-face {
  font-family: 'cera';
  src: url("/../fonts/app/cera-regular.eot");
  src: url("/../fonts/app/cera-regular.woff2") format("woff2"), url("/../fonts/app/cera-regular.woff") format("woff"), url("/../fonts/app/cera-regular.ttf") format("truetype"), url("/../fonts/app/cera-regular.svg#cera") format("svg"), url("/../fonts/app/cera-regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera';
  src: url("/../fonts/app/cera-bold.eot");
  src: url("/../fonts/app/cera-bold.woff2") format("woff2"), url("/../fonts/app/cera-bold.woff") format("woff"), url("/../fonts/app/cera-bold.ttf") format("truetype"), url("/../fonts/app/cera-bold.svg#cera") format("svg"), url("/../fonts/app/cera-bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cera';
  src: url("/../fonts/app/cera-regular-italic.eot");
  src: url("/../fonts/app/cera-regular-italic.woff2") format("woff2"), url("/../fonts/app/cera-regular-italic.woff") format("woff"), url("/../fonts/app/cera-regular-italic.ttf") format("truetype"), url("/../fonts/app/cera-regular-italic.svg#cera") format("svg"), url("/../fonts/app/cera-regular-italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cera';
  src: url("/../fonts/app/cera-bold-italic.eot");
  src: url("/../fonts/app/cera-bold-italic.woff2") format("woff2"), url("/../fonts/app/cera-bold-italic.woff") format("woff"), url("/../fonts/app/cera-bold-italic.ttf") format("truetype"), url("/../fonts/app/cera-bold-italic.svg#cera") format("svg"), url("/../fonts/app/cera-bold-italic.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'klinic';
  src: url("/../fonts/app/klinic-slab-medium-italic.eot");
  src: url("/../fonts/app/klinic-slab-medium-italic.woff2") format("woff2"), url("/../fonts/app/klinic-slab-medium-italic.woff") format("woff"), url("/../fonts/app/klinic-slab-medium-italic.ttf") format("truetype"), url("/../fonts/app/klinic-slab-medium-italic.svg#klinic-slab-medium-italic") format("svg"), url("/../fonts/app/klinic-slab-medium-italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url("/../fonts/app/icomoon.eot?c42gxg");
  src: url("/../fonts/app/icomoon.eot?c42gxg#iefix") format("embedded-opentype"), url("/../fonts/app/icomoon.ttf?c42gxg") format("truetype"), url("/../fonts/app/icomoon.woff?c42gxg") format("woff"), url("/../fonts/app/icomoon.svg?c42gxg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boleto:before {
  content: "\E901";
}

.icon-carta:before {
  content: "\E902";
}

.icon-facebook:before {
  content: "\E903";
}

.icon-flexas:before {
  content: "\E904";
}

.icon-footer:before {
  content: "\E905";
}

.icon-icon1-planos:before {
  content: "\E906";
}

.icon-icon1-texto-institucional:before {
  content: "\E907";
}

.icon-icon1-vantagens:before {
  content: "\E908";
}

.icon-icon2-planos:before {
  content: "\E909";
}

.icon-icon2-texto-institucional:before {
  content: "\E90A";
}

.icon-icon2-vantagens:before {
  content: "\E90B";
}

.icon-icon3-planos:before {
  content: "\E90C";
}

.icon-icon3-texto-institucional:before {
  content: "\E90D";
}

.icon-icon3-vantagens:before {
  content: "\E90E";
}

.icon-icon4-vantagens:before {
  content: "\E90F";
}

.icon-icon5-vantagens:before {
  content: "\E910";
}

.icon-icon6-vantagens:before {
  content: "\E911";
}

.icon-icon-maps:before {
  content: "\E912";
}

.icon-instagram:before {
  content: "\E913";
}

.icon-moca-atendimento:before {
  content: "\E914";
}

.icon-seta:before {
  content: "\E915";
}

.icon-svg:before {
  content: "\E900";
}

.titulos h2 {
  color: #005dd3;
}

#footer ul li.redes a .icon {
  color: #005dd3;
}

#footer ul li.redes a:hover .icon {
  color: #00ae5a;
}

#footer .rodape .bg {
  color: #005dd3;
}

#footer ul li a:hover {
  color: #005dd3;
}

.faq .titulo h2 {
  color: #005dd3;
}

.faq .botao a {
  background: #005dd3;
}

.faq .botao a:hover {
  background: #00ae5a;
}

.faq .perguntas .cont .title .icon {
  color: #005dd3;
}

.internet .botao a {
  background: #005dd3;
}

.internet .botao a:hover {
  background: #00ae5a;
}

.pensando .titulo h2 {
  color: #005dd3;
}

.pensando .botao a {
  background: #005dd3;
}

.pensando .botao a:hover {
  background: #00ae5a;
}

.pensando .info p.mb {
  color: #005dd3;
}

.pensando .info a.regiao {
  color: #005dd3;
}

.pensando .info a.regiao:hover {
  color: #00ae5a;
}

.pensando .info a.bt {
  border-color: #005dd3 !important;
}

.pensando .info a.bt:hover {
  background: #005dd3;
}

.pensando .mude p {
  color: #005dd3;
}

.vantagens .titulo h2 {
  color: #005dd3;
}

.vantagens .info h4 {
  color: #005dd3;
}

.vantagens .botao a {
  background: #005dd3;
}

.vantagens .botao a:hover {
  background: #00ae5a;
}

.vantagens .mude a {
  /* background: #00124f; */
}

.vantagens .mude a .left {
  color: #005dd3;
}

.vantagens .mude a .rigth {
  color: #005dd3;
}

.vantagens .info .detalhe .icon {
  color: #005dd3;
}

.entre-nessa .botao a {
  background: #00ae5a;
}

.entre-nessa .botao a:hover {
  background: #005dd3;
}

#atendimento .frase {
  background: #005dd3;
}

#atendimento .frase .titulos p {
  color: #00124f;
}

#atendimento .infos .titulo .icon {
  color: #005dd3;
}

#atendimento .infos .titulo p {
  color: #005dd3;
}

#atendimento .infos .divs p span {
  color: #005dd3;
}

#atendimento form button {
  background: #005dd3;
}

#atendimento form button:hover {
  background: #00ae5a;
}

#atendimento .form .titulos .icon {
  color: #005dd3;
}

#cobertura .frase {
  background: #005dd3;
}

#cobertura .frase .titulos p {
  color: #00124f;
}

#cobertura .endereco .botao a {
  background: #005dd3;
}

#cobertura .endereco .botao a:hover {
  background: #00ae5a;
}

#home .banner .pub .links .bt {
  color: #005dd3;
}

#home .banner .pub .links .bt:hover {
  background: #005dd3;
}

#institucional .infos {
  background: #00124f;
}

#institucional .icons .icon a {
  color: #005dd3;
  border-color: #005dd3;
}

#institucional .icons .icon a:hover {
  background: #005dd3;
}

#institucional .infos .titulos p {
  color: #005dd3;
}

#institucional .infos .case .icon {
  color: #005dd3;
}

#planos .descricao a span {
  background: #005dd3;
}

#planos .descricao a:hover {
  color: #005dd3;
}

#planos .plano p.mb .sinais {
  color: #005dd3;
}

#planos .plano p.mb .price {
  color: #005dd3;
}

#planos .plano a.regiao {
  color: #005dd3;
}

#planos .plano a.regiao:hover {
  color: #00ae5a;
}

#planos .plano .botao a {
  color: #005dd3;
  border-color: #005dd3;
}

#planos .plano .botao a:hover {
  background: #005dd3;
}

#planos .slide .arrows {
  color: #005dd3;
}

#planos .slide .arrows:hover {
  background: #005dd3;
  border-color: #005dd3;
}

#planos .plano-active .plano,
#planos .slick-center .plano {
  background: #005dd3;
  border-color: #005dd3;
}

#planos .plano .icon {
  color: #005dd3;
}

#planos .plano-active .plano .botao a,
#planos .slick-center .plano .botao a {
  background: #00124f;
  border-color: #00124f;
}

#header .line {
  background: #005dd3;
}

#header .line .bt {
  background: #00124f;
}

#header .menu {
  background: #005dd3;
}

#header .city .right p a {
  color: #00124f;
}

#header .city .right .barra {
  background: #00124f;
}

#header .city .right .link {
  color: #00124f;
}

#header .menu nav ul li a {
  color: #00124f;
}

#footer .rodape .line {
  background: #005dd3;
}

#footer .rodape .info p {
  color: #005dd3;
}

#footer .rodape .info p span {
  background: #005dd3;
}

@media (max-width: 576px) {
  #header .menu nav {
    background: #005dd3;
  }
}

#regiao .emissao .bloco .link {
  background: #005dd3;
}

#regiao .emissao .bloco .link:hover {
  background: #00ae5a;
}

#regiao .botao {
  color: #005dd3;
}

#regiao .botao:hover {
  color: #00ae5a;
}

#regiao .chosen-with-drop .chosen-drop {
  background: #005dd3;
  border-color: #005dd3;
}

#regiao .chosen-container .chosen-results li.highlighted {
  color: #005dd3;
}

#regiao .chosen-container-single .chosen-single div b::before {
  color: #005dd3;
}

.clear {
  width: 100%;
  float: left;
}

#header .line {
  padding: 10px 0;
  background: #00ae5a;
  text-align: center;
}

#header .line img {
  display: inline-block;
  vertical-align: -8px;
  margin-right: 15px;
}

#header .line p {
  display: inline-block;
  font: 1.188em 'cera';
  color: #fff;
  margin-bottom: 0;
}

#header .line p.small {
  display: none;
}

#header .line .bt {
  display: inline-block;
  padding: 10px 23px;
  background: #115734;
  color: #fff;
  font: 1em 'cera';
  margin-left: 50px;
  text-decoration: none;
  border-radius: 22px;
}

#header .line .icon-boleto {
  color: #fff;
  font-size: 2em;
  vertical-align: -5px;
}

#header .menu {
  background: #005dd3;
  padding-bottom: 40px;
}

#header .city {
  margin-top: 25px;
}

#header .city .right {
  float: right;
}

#header .city .right .maps {
  display: inline-block;
  margin-right: 12px;
  font-size: 1.88em;
  color: #1c1c1c;
  vertical-align: middle;
}

#header .city .right p {
  display: inline-block;
  font: italic 1em 'klinic';
}

#header .city .right p a {
  color: #00124f;
  text-decoration: none;
}

#header .city .right .barra {
  width: 1px;
  height: 28px;
  background: #00124f;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

#header .city .right .barra.white {
  display: none;
}

#header .city .right .link {
  display: inline-block;
  font: italic 1em 'klinic';
  color: #00124f;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#header .city .right .link .icon {
  color: #1c1c1c;
  font-size: 1.8em;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#header .city .right .link:hover {
  color: #fff;
}

#header .city .right .link:hover .icon {
  color: #fff;
}

#header .menu .logo {
  float: left;
  margin-top: -25px;
}

#header .menu .logo img {
  max-height: 97px;
}

#header .menu nav {
  float: right;
  margin-top: 20px;
}

#header .menu nav ul {
  float: right;
  padding: 0;
  margin: 0;
}

#header .menu nav ul li {
  float: left;
  padding: 0;
  margin: 0 12px;
  list-style: none;
}

#header .menu nav ul li a {
  font: 700 1em 'cera';
  color: #00124f;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#header .menu nav ul li a:hover {
  color: #fff;
}

#header .menu nav ul li.assinante {
  margin-right: 0;
}

#header .menu nav ul li.assinante a {
  padding: 10px 23px;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  text-decoration: none;
  border-radius: 22px;
  -webkit-transition: all .2;
}

#header .menu nav ul li.assinante a:hover {
  background: #222;
  border-color: #222;
  color: #fff;
}

#header .toogle-mobile {
  display: none;
  float: right;
  width: 40px;
  border-top: #222 solid 5px;
  border-bottom: #222 solid 5px;
}

#header .toogle-mobile span {
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background: #222;
  display: block;
}

.load-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
  display: none;
}

#footer {
  border-top: #1c1c1c solid 2px;
  padding: 90px 0 170px 0;
}

#footer .menu {
  margin-bottom: 160px;
  position: relative;
  z-index: 1;
}

#footer ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

#footer ul li {
  float: left;
  padding: 0;
  margin: 0 12px;
  list-style: none;
}

#footer ul li a {
  font: 700 1em 'cera';
  color: #666;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#footer ul li a:hover {
  color: #005dd3;
}

#footer ul li.redes {
  margin-top: -26px;
}

#footer ul li.redes a {
  margin: 0 8px;
}

#footer ul li.redes a .icon {
  font-size: 3.4em;
  color: #005dd3;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#footer ul li.redes a:hover .icon {
  color: #00ae5a;
}

#footer .center {
  max-width: 1650px;
  padding: 0 20px;
}

#footer .rodape .bg {
  display: block;
  margin: 0 auto;
  font-size: 84vw;
  margin-top: -31.5vw;
  margin-bottom: -28.45vw;
  text-align: center;
  color: #005dd3;
}

#footer .rodape .line {
  width: 100%;
  display: block;
  height: 3px;
  background: #005dd3;
  position: relative;
  z-index: 10;
}

#footer .rodape .info {
  margin-top: 20px;
}

#footer .rodape .info p {
  font: 700 1.125em 'cera';
  color: #005dd3;
  text-align: center;
}

#footer .rodape .info p span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  background: #005dd3;
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  vertical-align: 15px;
}

#footer .rodape .info p.none span {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@media (max-width: 992px) {
  #header .menu {
    padding-bottom: 30PX;
  }

  #header .menu .logo {
    margin-top: -5px;
  }

  #header .menu .logo img {
    max-height: 47px;
  }

  #header .menu nav {
    margin-top: 10px;
  }

  #header .menu nav ul li {
    margin: 0 7px;
  }

  #header .menu nav ul li a {
    font-size: .88em;
  }

  #header .menu nav ul li.assinante a {
    padding: 10px;
  }

  #footer {
    padding: 70px 0 50px;
  }

  #footer .menu {
    margin-bottom: 80px;
  }

  #footer ul li {
    margin: 0 7px;
  }

  #footer ul li a {
    font-size: .88em;
  }

  #footer ul li.redes {
    margin-top: -13px;
  }

  #footer ul li.redes a {
    margin: 0 3px;
  }

  #footer ul li.redes a img {
    max-width: 50px;
  }
}

@media (max-width: 862px) {
  #header .line p.big {
    display: none;
  }

  #header .line p.small {
    display: inline-block;
  }

  #header .line .bt {
    margin-left: 13px;
  }
}

@media (max-width: 768px) {
  #header .menu .logo {
    margin-top: -50px;
  }

  #footer .menu {
    text-align: center;
    margin-bottom: 200px;
  }

  #footer .menu .logo {
    display: inline-block;
  }

  #footer ul {
    width: 100%;
  }

  #footer ul li {
    float: none;
    display: inline-block;
  }

  #footer ul li.redes {
    margin-top: 10px;
    display: block;
  }

  #footer .rodape .info {
    margin-top: 15px;
  }

  #footer .rodape .info p {
    font-size: 1em;
  }

  #footer .rodape .info p span {
    width: 23px;
    height: 23px;
    line-height: 23px;
  }
}

@media (max-width: 576px) {
  #header .line {
    display: none;
  }

  #header .menu {
    padding: 15px 0;
    position: relative;
  }

  #header .menu .logo {
    margin: 0;
  }

  #header .menu .logo img {
    max-height: 30px;
  }

  #header .menu nav {
    position: fixed;
    top: 0;
    left: -220px;
    z-index: 10;
    background: #0f0;
    width: 220px;
    height: 100%;
    background: #005dd3;
    margin: 0;
    padding-top: 15px;
    border-right: 4px solid #333;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  #header .menu nav.active {
    left: 0;
  }

  #header .menu nav li {
    width: 100%;
    padding: 0;
  }

  #header .menu nav li a {
    width: 100%;
    padding: 15px 10px 0;
    float: left;
  }

  #header .menu nav li.assinante {
    margin-top: 25px;
  }

  #header .menu nav li.assinante a {
    width: auto;
    margin-left: 10px;
  }

  #header .city {
    width: auto;
    position: absolute;
    right: 80px;
    top: -8px;
  }

  #header .city .right .maps,
  #header .city .right .barra,
  #header .city .right .link {
    display: none;
  }

  #header .toogle-mobile {
    display: block;
  }

  #footer .rodape .info p span {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  #footer {
    padding: 40px 0;
  }

  #footer .menu {
    margin: 0;
  }

  #footer .rodape {
    display: none !important;
  }
}

.titulos h2 {
  margin: 0;
  padding: 0;
  color: #005dd3;
  font: 4.375em 'cera';
  text-align: center;
}

.titulos p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c;
}

.modal-content {
  border-radius: 0 !important;
  border: none !important;
}

.modal-subtitle {
  display: block;
}

.modal-content label {
  font: 700 1em 'cera', sans-serif;
  color: #1c1c1c;
}

.modal-content button {
  cursor: pointer;
}

@media (max-width: 576px) {
  .titulos {
    margin-bottom: 20px;
  }

  .titulos h2 {
    font-size: 2em;
  }

  .titulos p {
    font-size: 1em;
  }
}

.vantagens {
  background: #fff;
  padding: 200px 0;
}

.vantagens .titulo {
  margin-bottom: 70px;
  padding: 0 15px;
}

.vantagens .titulo h2 {
  margin: 0;
  padding: 0;
  color: #005dd3;
  font: 4.375em 'cera';
  text-align: center;
}

.vantagens .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c;
}

.vantagens .rows {
  margin: 0;
  padding: 0;
}

.vantagens .cols {
  margin: 0;
  padding: 0;
}

.vantagens .info {
  border: #d5d8db solid 2px;
  padding: 15px;
  padding-bottom: 150px;
}

.vantagens .info.left {
  border-right: 0;
}

.vantagens .info h4 {
  font: 1.875em 'cera';
  color: #005dd3;
  text-align: center;
  margin-top: 25px;
}

.vantagens .info .detalhe {
  text-align: center;
  margin: 15px 0;
  left: 25px;
  padding-left: 30px;
}

.vantagens .info .detalhe .center {
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}

.vantagens .info .detalhe p {
  display: inline-block;
  text-align: left;
  font: 1.250em 'cera';
  color: #1c1c1c;
  margin-left: 20px;
  margin-top: 30px;
  vertical-align: bottom;
}

.vantagens .info .detalhe .icon {
  color: #005dd3;
  font-size: 4.3em;
}

.vantagens .info .detalhe img {
  vertical-align: bottom;
}

.vantagens .botao {
  text-align: center;
}

.vantagens .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  margin-top: -90px;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.vantagens .botao a:hover {
  background: #00ae5a;
}

.vantagens .mude {
  margin-top: 50px;
}

.vantagens .mude a {
  padding: 25px 40px;
  display: block;
  /* background: #00124f; */
  border-radius: 5px;
  text-decoration: none;
}

.vantagens .mude a .left {
  font: 700 1.875em 'cera';
  color: #005dd3;
}

.vantagens .mude a .rigth {
  font: italic 1.5em 'klinic';
  color: #005dd3;
  margin-left: 35px;
}

.vantagens .mude a .rigth .icon {
  vertical-align: sub;
  font-size: 1.3em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.vantagens .mude a:hover .rigth .icon {
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .vantagens .mude a .left {
    font-size: 1.5em;
  }

  .vantagens .mude a .rigth {
    font-size: 1.2em;
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .vantagens .mude a {
    padding: 20px 15px;
  }

  .vantagens .mude a .left {
    font-size: 1.2em;
  }

  .vantagens .mude a .rigth {
    font-size: 1em;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .vantagens {
    padding: 100px 0;
  }

  .vantagens .info.left {
    border-top: #d5d8db solid 2px;
    border-bottom: 0;
    border-right: #d5d8db solid 2px;
  }

  .vantagens .info {
    padding-bottom: 25px;
  }

  .vantagens .botao a {
    margin-top: 30px;
  }

  .vantagens .mude a {
    text-align: center;
  }

  .vantagens .mude a .rigth {
    font-size: 1em;
    margin-left: 0;
    display: block;
  }

  .vantagens .mude a .rigth img {
    display: none;
  }
}

@media (max-width: 576px) {
  .vantagens {
    padding-top: 50px;
  }

  .vantagens .info h4 {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .vantagens .info .detalhe {
    padding: 0;
  }

  .vantagens .info .detalhe .center {
    max-width: 100%;
    text-align: center;
  }

  .vantagens .info .detalhe .icon {
    font-size: 3em;
  }

  .vantagens .info .detalhe p {
    font-size: 1em;
  }

  .vantagens .botao a {
    font-size: 1em;
    padding: 15px 20px;
  }

  .vantagens .info .detalhe p {
    vertical-align: super;
  }
}

.internet.vsp {
  background: url("/../img/internet-para-todos-vsp.jpg") center top no-repeat;
}

.internet.crz {
  background: url("/../img/internet-para-todos-crz.jpg") center top no-repeat;
}

.internet.direct {
  background: url("/../img/internet-para-todos-direct.jpg") center top no-repeat;
}

.internet.vibe {
  background: url("/../img/internet-para-todos-vibe.jpg") center top no-repeat;
}

.internet {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover !important;
}

.internet .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.internet h1 {
  font: 4.375em 'cera';
  color: #fff;
  text-align: center;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.internet p {
  font: italic 1.688em 'klinic';
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.internet .botao {
  text-align: center;
  position: relative;
  z-index: 1;
}

.internet .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  margin-top: 40px;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.internet .botao a:hover {
  background: #00ae5a;
}

@media (max-width: 768px) {
  .internet h1 {
    font-size: 2.5em;
  }

  .internet p {
    font-size: 1.2em;
  }

  .internet .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

.pensando {
  background: #fff;
  padding: 200px 0;
}

.pensando .titulo {
  padding: 0 15px;
}

.pensando .titulo h2 {
  margin: 0;
  padding: 0;
  color: #005dd3;
  font: 4.375em 'cera';
  text-align: center;
}

.pensando .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c;
}

.pensando .botao {
  text-align: center;
  margin-bottom: 50px;
}

.pensando .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pensando .botao a:hover {
  background: #00ae5a;
}

.pensando .max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.pensando .rows {
  margin: 0;
  padding: 0;
}

.pensando .cols {
  margin: 0;
  padding: 0;
}

.pensando .info {
  border: #d5d8db solid 2px;
  padding: 15px;
  padding-bottom: 50px;
  border-radius: 0 8px 0 0;
  text-align: center;
}

.pensando .info.left {
  border-right: 0;
  border-radius: 8px 0 0;
}

.pensando .info h4 {
  font: 1.875em 'cera';
  color: #1c1c1c;
  text-align: center;
  margin-top: 25px;
}

.pensando .info p.desc {
  font: italic 1.188em 'klinic';
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 0;
}

.pensando .info p.mb {
  font: 9.375em 'cera';
  color: #005dd3;
  text-align: center;
  margin-top: -25px;
  letter-spacing: -15px;
}

.pensando .info p.mb span {
  font-size: 0.467em;
  letter-spacing: -6px;
  font-weight: 700;
  margin-left: -10px;
}

.pensando .info .line {
  display: block;
  padding: 0 15px;
  text-align: center;
  margin-top: -20px;
}

.pensando .info .line span {
  width: 100%;
  max-width: 415px;
  height: 2px;
  background: #1c1c1c;
  display: inline-block;
}

.pensando .info a.regiao {
  font: italic 1em 'klinic';
  color: #005dd3;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pensando .info a.regiao:hover {
  color: #00ae5a;
}

.pensando .info .infos {
  margin-top: 30px;
  text-align: center;
}

.pensando .info .infos p {
  font: 1.188em 'cera';
  color: #1c1c1c;
  margin-bottom: 0;
}

.pensando .info .infos p span {
  font-weight: 700;
}

.pensando .info a.bt {
  display: inline-block;
  padding: 20px 25px;
  border: #005dd3 solid 2px;
  color: #1c1c1c;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  margin-top: 40px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pensando .info a.bt:hover {
  background: #005dd3;
  color: #fff;
}

.pensando .mude p {
  padding: 25px 40px;
  display: block;
  border: #d5d8db solid 2px;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  text-decoration: none;
  font: 700 1.875em 'cera';
  color: #005dd3;
  text-align: center;
}

@media (max-width: 1200px) {
  .pensando .mude p {
    font-size: 1.3em;
  }
}

@media (max-width: 992px) {
  .pensando .mude p {
    padding: 20px 15px;
  }
}

@media (max-width: 768px) {
  .pensando {
    padding: 100px 0;
  }

  .pensando .info {
    border-radius: 0;
  }

  .pensando .info.left {
    border-top: #d5d8db solid 2px;
    border-bottom: 0;
    border-right: #d5d8db solid 2px;
    border-radius: 8px 8px 0 0;
  }

  .pensando .info {
    padding-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .pensando {
    padding-top: 50px;
  }

  .pensando .titulo {
    margin-bottom: 20px;
  }

  .pensando .titulo h2 {
    font-size: 2em;
  }

  .pensando .titulo p {
    font-size: 1em;
  }

  .pensando .info h4 {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .pensando .info p.mb {
    font-size: 7em;
  }

  .pensando .botao p {
    font-size: 1em;
    padding: 15px 20px;
  }
}

.midias.vsp {
  background: url("/../img/midias-vsp.jpg") center top no-repeat;
}

.midias.crz {
  background: url("/../img/midias-crz.jpg") center top no-repeat;
}

.midias.direct {
  background: url("/../img/midias-direct.jpg") center top no-repeat;
}

.midias.vibe {
  background: url("/../img/midias-vibe.jpg") center top no-repeat;
}

.midias {
  width: 100%;
  position: relative;
  background-size: cover !important;
}

.midias .center {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
}

.midias .infos {
  width: 100%;
}

.midias .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.midias h1 {
  font: 4.313em 'cera';
  color: #fff;
  position: relative;
  z-index: 1;
  line-height: 65px;
  letter-spacing: -2px;
}

.midias p {
  font: italic 1.688em 'klinic';
  color: #fff;
  position: relative;
  z-index: 1;
}

.midias .links {
  position: relative;
  z-index: 1;
}

.midias .links .bt {
  display: inline-block;
  padding: 10px 23px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font: 700 1.188em 'cera';
  text-decoration: none;
  border-radius: 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.midias .links .bt:hover {
  color: #1c1c1c;
  background: #fff;
}

.midias .links .tour {
  font: 700 1.188em 'cera';
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.midias .links .tour img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.midias .links .tour:hover img {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .midias h1 {
    font-size: 2.5em;
  }

  .midias p {
    font-size: 1.2em;
  }

  .midias .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .midias h1 {
    line-height: 42px;
  }
}

.faq {
  padding: 100px 0;
}

.faq .titulo {
  padding: 0 15px;
}

.faq .titulo h2 {
  margin: 0;
  padding: 0;
  color: #005dd3;
  font: 4.375em 'cera';
  text-align: center;
}

.faq .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c;
}

.faq .botao {
  text-align: center;
  margin-bottom: 50px;
}

.faq .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.faq .botao a:hover {
  background: #00ae5a;
}

.faq .perguntas {
  margin-top: 40px;
}

.faq .perguntas .max-width {
  max-width: 1080px;
  margin: 0 auto;
}

.faq .perguntas .cont {
  margin-bottom: 25px;
}

.faq .perguntas .cont .title {
  padding: 20px;
  padding-right: 53px;
  border: #d5d8db solid 2px;
  border-radius: 8px;
  font: 1.125em 'cera';
  color: #1c1c1c;
  position: relative;
  text-decoration: none;
}

.faq .perguntas .cont .title .icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  color: #005dd3;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(90deg);
  /* Chrome and other webkit browsers */
  /* FF */
  /* Opera */
  /* IE9 */
  transform: rotate(90deg);
}

.faq .perguntas .cont.active .title .icon {
  -webkit-transform: rotate(270deg);
  /* Chrome and other webkit browsers */
  /* FF */
  /* Opera */
  /* IE9 */
  transform: rotate(270deg);
  /* W3C compliant browsers */
  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.faq .perguntas .cont .title:hover img {
  margin-top: 0;
}

.faq .perguntas .cont.active .title:hover img {
  margin-top: -16px;
}

.faq .perguntas .cont.active .title {
  border-radius: 8px 8px 0 0;
}

.faq .perguntas .cont .info {
  background: #f3f3f3;
  border-radius: 0 0 8px 8px;
  height: 0;
  overflow: hidden;
}

.faq .perguntas .cont .info .detalhe {
  padding: 20px;
}

.faq .perguntas .cont .info .detalhe p {
  font: italic 1.1em 'klinic';
  color: #1c1c1c;
  margin-bottom: 0;
}

.entre-nessa.vsp {
  background: url("/../img/entre-nessa-vsp.jpg") center top no-repeat;
}

.entre-nessa.crz {
  background: url("/../img/entre-nessa-crz.jpg") center top no-repeat;
}

.entre-nessa.direct {
  background: url("/../img/entre-nessa-direct.jpg") center top no-repeat;
}

.entre-nessa.vibe {
  background: url("/../img/entre-nessa-vibe.jpg") center top no-repeat;
}

.entre-nessa {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
}

.entre-nessa .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.entre-nessa .container {
  position: relative;
  z-index: 1;
}

.entre-nessa .infos {
  float: right;
}

.entre-nessa h1 {
  font: 4.375em 'cera';
  color: #fff;
  text-align: left;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  padding: 0;
  line-height: 60px;
}

.entre-nessa .img-vibe {
  display: none;
}

.entre-nessa.vibe .img-vibe {
  width: 100%;
  display: block;
  max-width: 300px;
  margin-bottom: 30px;
  display: block;
  margin-top: -30px;
}

.entre-nessa.vibe .infos {
  float: left;
}

.entre-nessa.vibe h1 {
  display: none;
}

.entre-nessa.vibe .botao {
  padding-left: 10px;
}

.entre-nessa .botao {
  text-align: left;
  position: relative;
  z-index: 1;
}

.entre-nessa .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #00ae5a;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.entre-nessa .botao a:hover {
  background: #005dd3;
}

@media (max-width: 768px) {
  .entre-nessa h1 {
    font-size: 2.5em;
  }

  .entre-nessa p {
    font-size: 1.2em;
  }

  .entre-nessa .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .entre-nessa {
    max-height: 500px;
  }

  .entre-nessa .infos {
    float: none;
  }

  .entre-nessa h1 {
    text-align: center;
  }

  .entre-nessa .botao {
    text-align: center;
    padding-left: 0;
  }
}

#home .banner.vsp {
  background: url("/../img/banner-vsp.jpg") center 40px no-repeat;
}

#home .banner.crz {
  background: url("/../img/banner-crz.jpg") center 40px no-repeat;
}

#home .banner.direct {
  background: url("/../img/banner-direct.jpg") center 40px no-repeat;
}

#home .banner.vibe {
  background: url("/../img/banner-vibe.jpg") center 40px no-repeat;
}

#home .banner {
  z-index: 8;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-size: cover !important;
}

#home .banner .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

#home .banner .container {
  height: 100%;
  position: relative;
}

#home .banner .pub {
  position: absolute;
  bottom: 70px;
  left: 130px;
}

#home .banner .pub h2 {
  font: 4.375em 'cera';
  color: #fff;
  position: relative;
  line-height: 60px;
  left: -110px;
  opacity: 0;
  filter: alpha(opacity=0);
}

#home .banner .pub.active h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

#home .banner .pub h2 img {
  position: absolute;
  top: -135px;
  left: -100px;
}

#home .banner .pub p {
  font: italic 1.625em 'klinic';
  color: #fff;
  left: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

#home .banner .pub.active p {
  opacity: 1;
  filter: alpha(opacity=100);
}

#home .banner .pub .links {
  margin-top: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

#home .banner .pub.active .links {
  opacity: 1;
  filter: alpha(opacity=100);
}

#home .banner .pub .links .bt {
  display: inline-block;
  padding: 10px 23px;
  background: #fff;
  color: #005dd3;
  font: 700 1.188em 'cera';
  text-decoration: none;
  border-radius: 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#home .banner .pub .links .bt:hover {
  color: #fff;
  background: #005dd3;
}

#home .banner .pub .links .tour {
  font: 700 1.188em 'cera';
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

#home .banner .pub .links .tour img {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#home .banner .pub .links .tour:hover img {
  margin-left: 10px;
}

@media (max-width: 1400px) {
  #home .banner .pub {
    bottom: 60px !important;
  }

  #home .banner .pub h2 {
    font-size: 3em;
    line-height: 40px;
  }

  #home .banner .pub h2 img {
    max-width: 130px;
    top: -115px;
    left: -80px;
  }

  #home .banner .pub p {
    font-size: 1.15em;
  }

  #home .banner .pub .links {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  #home .banner .pub h2 {
    font-size: 2em;
    line-height: 40px;
  }

  #home .banner .pub h2 img {
    max-width: 90px;
    top: -75px;
    left: -58px;
  }

  #home .banner .pub p {
    font-size: 1em;
  }

  #home .banner .pub .links .bt {
    font-size: 1em;
    padding: 8px 12px;
  }

  #home .banner .pub .links .tour {
    font-size: 1em;
  }

  #home .banner .pub .links .tour img {
    max-height: 20px;
  }
}

@media (max-width: 576px) {
  #home .banner .pub {
    left: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    bottom: 50px;
  }

  #home .banner .pub h2 img {
    display: none;
  }
}

#regiao.vsp {
  background: url("/../img/regiao-vsp.png") center no-repeat #fff;
}

#regiao.crz {
  background: url("/../img/regiao-crz.jpg") center no-repeat #fff;
}

#regiao.direct {
  background: url("/../img/regiao-direct.jpg") center no-repeat #fff;
}

#regiao.vibe {
  background: url("/../img/regiao-vibe.png") center no-repeat #fff;
}

#regiao {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-size: cover !important;
}

#regiao .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#regiao .center {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#regiao .container.infos {
  margin-top: -80px;
}

#regiao .logo {
  max-height: 110px;
}

#regiao h1 {
  font: 3.375em 'cera', sans-serif;
  color: #fff;
  margin-top: 30px;
  padding: 0;
  line-height: 68px;
  letter-spacing: -3px;
}

#regiao .emissao {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#regiao .emissao .container {
  position: relative;
}

#regiao .emissao .bloco {
  position: absolute;
  bottom: 0;
  right: 0;
}

#regiao .emissao .bloco .link {
  display: inline-block;
  padding: 14px 40px 10px 20px;
  background: #005dd3;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#regiao .emissao .bloco .link:hover {
  background: #00ae5a;
}

#regiao .emissao .bloco .link span {
  display: inline-block;
  margin-left: 10px;
  font: 700 1.188em 'cera', sans-serif;
  color: #fff;
  vertical-align: middle;
  letter-spacing: -1px;
}

#regiao .emissao .bloco .link .icon {
  font-size: 3em;
}

#regiao .emissao .bloco .fechar {
  width: 30px;
  height: 30px;
  font: 1em 'cera', sans-serif;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

#regiao .emissao .bloco .fechar img {
  max-width: 10px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#regiao .emissao .bloco .fechar:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#regiao .botao {
  width: 63px;
  height: 63px;
  float: right;
  clear: both;
  background: #fff;
  border: none;
  z-index: 1;
  margin-top: -67px;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
  font-size: 1.8em;
  color: #005dd3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#regiao .botao:hover {
  color: #00ae5a;
}

#regiao .select {
  margin-top: 30px;
  max-width: 450px;
}

#regiao .chosen-container {
  width: 100% !important;
  float: left;
  background: none;
}

#regiao .chosen-container .chosen-single {
  height: 70px !important;
  background: url("/../img/maps-regiao.png") 15px center no-repeat #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  box-shadow: none !important;
  border-color: #fff;
}

#regiao .chosen-container .chosen-single span {
  color: #636363;
  font: 1.2em 'cera', sans-serif;
  margin-top: 25px;
  margin-left: 55px;
}

#regiao .chosen-container-single .chosen-single div {
  width: 70px;
  height: 70px;
}

#regiao .chosen-container-single .chosen-single div b::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  margin: 20px 18px 0 0;
  content: "\E915";
  color: #005dd3;
  font-size: 2em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#regiao .chosen-container .chosen-results {
  max-height: 150px;
}

#regiao .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: center -27px;
}

#regiao .chosen-container-active.chosen-with-drop .chosen-single {
  border-bottom: none !important;
  background: url("/../img/maps-regiao.png") 15px center no-repeat #fff;
  border-radius: 5px 5px 0 0;
}

#regiao .chosen-with-drop {
  background: none;
}

#regiao .chosen-with-drop .chosen-drop {
  background: #005dd3;
  border-top: none !important;
  border-color: #005dd3;
}

#regiao .chosen-with-drop .chosen-single {
  background: none;
}

#regiao .chosen-container .chosen-results {
  margin-top: 15px;
}

#regiao .chosen-container .chosen-results li {
  padding-top: 5px;
  padding-bottom: 6px;
  color: #fff;
  font: 1.2em 'cera', sans-serif;
}

#regiao .chosen-container .chosen-results li.highlighted {
  background: #fff;
  color: #005dd3;
}

#regiao .chosen-container .chosen-search {
  display: none;
}

#regiao .chosen-container-single,
#regiao .chosen-container-active,
#regiao .chosen-with-drop {
  background: none;
}

#regiao .invalid .chosen-drop,
#regiao .invalid .chosen-single {
  border-color: #de5d5d !important;
}

#regiao .invalid .chosen-single span {
  color: #de5d5d;
}

#regiao .invalid .chosen-single div b {
  /*background: url(../img/custom-select-invalid.png) 0 0 no-repeat;*/
}

#regiao .telefone {
  float: left;
  clear: both;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #regiao .container.infos {
    margin-top: -200px;
  }

  #regiao h1 {
    font-size: 3em;
    line-height: 50px;
    letter-spacing: 2px;
  }
}

@media (max-width: 576px) {
  #regiao .logo {
    margin: 0 auto;
    display: block;
    max-height: 45px;
  }

  #regiao h1 {
    font-size: 2em;
    line-height: 30px;
    text-align: center;
  }

  #regiao .emissao .bloco {
    right: 15px;
  }

  #regiao .emissao .bloco .link {
    padding: 11px 32px 8px 13px;
  }

  #regiao .emissao .bloco .link span {
    font-size: 1em;
    line-height: 17px;
  }

  #regiao .emissao .bloco .fechar {
    right: 9px;
    top: 10px;
  }
}

#institucional .banner.vsp {
  background: url("/../img/institucional/banner-vsp.jpeg") center top no-repeat;
}

#institucional .banner.crz {
  background: url("/../img/institucional/banner-crz.jpg") center top no-repeat;
}

#institucional .banner.direct {
  background: url("/../img/institucional/banner-direct.jpg") center top no-repeat;
}

#institucional .banner.vibe {
  background: url("/../img/institucional/banner-vibe.jpeg") center top no-repeat;
}

#institucional .banner {
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover !important;
}

#institucional .sobre {
  padding: 200px 0;
}

#institucional .sobre .titulo {
  margin-bottom: 40px;
  padding: 0 15px;
}

#institucional .sobre .texto {
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: #1c1c1c;
}

#institucional .icons {
  margin-top: 80px;
  text-align: center;
}

#institucional .icons .icon {
  display: inline-block;
  max-width: 185px;
  margin: 10px 35px;
  text-align: center;
}

#institucional .icons .icon img {
  max-width: 100%;
}

#institucional .icons .icon a {
  display: block;
  clear: both;
  width: 100%;
  max-width: 185px;
  height: 50px;
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: #005dd3;
  border: #005dd3 solid 2px;
  border-radius: 30px;
  margin-top: 40px;
  text-decoration: none;
  line-height: 48px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#institucional .icons .icon a:hover {
  color: #fff;
  background: #005dd3;
}

#institucional .banner2.vsp {
  background: url("/../img/institucional/banner2-vsp.jpg") center top no-repeat;
}

#institucional .banner2.crz {
  background: url("/../img/institucional/banner2-crz.jpg") center top no-repeat;
}

#institucional .banner2.direct {
  background: url("/../img/institucional/banner2-direct.jpeg") center top no-repeat;
}

#institucional .banner2.vibe {
  background: url("/../img/institucional/banner2-vibe.jpg") center top no-repeat;
}

#institucional .banner2 {
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover !important;
}

#institucional .infos {
  background: #00124f;
  padding: 200px 0;
}

#institucional .infos .titulos h2 {
  color: #fff;
}

#institucional .infos .titulos p {
  color: #005dd3;
}

#institucional .infos .case {
  padding: 45px 0;
  text-align: center;
}

#institucional .infos .case .icon {
  font-size: 5.5em;
  color: #005dd3;
}

#institucional .infos .case h4 {
  padding: 0;
  margin: 0;
  font: 700 1.05em 'cera', sans-serif;
  color: #fff;
  margin-top: 20px;
}

#institucional .infos .case p {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  font: 1.05em 'cera', sans-serif;
  color: #fff;
  margin-top: 20px;
}

#institucional .banner3.vsp {
  background: url("/../img/institucional/banner3-vsp.jpg") center top no-repeat;
}

#institucional .banner3.crz {
  background: url("/../img/institucional/banner3-crz.png") center top no-repeat;
}

#institucional .banner3.direct {
  background: url("/../img/institucional/banner3-direct.jpg") center top no-repeat;
}

#institucional .banner3.vibe {
  background: url("/../img/institucional/banner3-vibe.jpg") center top no-repeat;
}

#institucional .banner3 {
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover !important;
}

@media (max-width: 768px) {
  #institucional .sobre {
    padding: 50px 0;
  }

  #institucional .sobre .titulo {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  #institucional .sobre .texto {
    font-size: .8em;
    padding: 0 15px;
  }

  #institucional .sobre .icons {
    padding: 40px 0;
    margin-top: 20px;
  }

  #institucional .sobre .icons .icon {
    max-width: 100px;
  }

  #institucional .sobre .icons .icon a {
    font-size: .8em;
  }

  #institucional .infos {
    padding: 40px 0;
  }

  #institucional .infos .case {
    padding: 20px 0;
  }

  #institucional .infos .case h4 {
    font-size: .8em;
  }

  #institucional .infos .case p {
    font-size: .8em;
  }
}

#atendimento .frase {
  padding: 120px 0 40px;
  background: #005dd3;
}

#atendimento .frase .titulos h2 {
  color: #fff;
}

#atendimento .frase .titulos p {
  color: #00124f;
}

#atendimento .infos {
  padding: 200px 0;
}

#atendimento .infos .titulo {
  text-align: center;
}

#atendimento .infos .titulo .icon {
  font-size: 5em;
  color: #005dd3;
}

#atendimento .infos .titulo p {
  font: 1.4em 'cera', sans-serif;
  color: #005dd3;
  margin-top: 25px;
}

#atendimento .infos {
  text-align: center;
}

#atendimento .infos .divs {
  width: 356px;
  display: inline-block;
  border-bottom: #d5d8db solid 2px;
  padding: 20px;
  text-align: center;
  position: relative;
  margin: 0 -3px;
}

#atendimento .infos .divs p {
  margin: 0;
  font: 1.4em 'cera', sans-serif;
  text-align: center;
  color: #777;
}

#atendimento .infos .divs p span {
  color: #005dd3;
}

#atendimento .infos .divs .separador {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: -1px;
  width: 2px;
  height: 60px;
  background: #d5d8db;
}

#atendimento .infos .texto {
  margin-top: 40px;
  padding: 0 15px;
}

#atendimento .infos .texto p {
  font: 1.2em 'klinic', sans-serif;
  color: #777;
  text-align: center;
}

#atendimento .form {
  padding: 200px 0;
  background: #f6f6f6;
}

#atendimento .form .titulos {
  text-align: center;
}

#atendimento .form .titulos .icon {
  margin-bottom: 20px;
  font-size: 5em;
  color: #005dd3;
}

#atendimento form {
  margin-top: 40px;
}

#atendimento form input,
#atendimento form textarea {
  width: 100%;
  height: 80px;
  border: #d5d8db solid 2px;
  border-radius: 5px;
  padding: 0 20px;
  background: none;
  font: 1.2em 'cera', sans-serif;
  color: #1c1c1c;
  outline: none;
  margin-bottom: 20px;
}

#atendimento form textarea {
  padding: 20px;
  height: 300px;
}

#atendimento form input:focus,
#atendimento form textarea:focus {
  border-color: #1c1c1c;
}

#atendimento form input::-webkit-input-placeholder,
#atendimento form textarea::-webkit-input-placeholder {
  color: #1c1c1c;
}

#atendimento form input::-moz-placeholder,
#atendimento form textarea::-moz-placeholder {
  color: #1c1c1c;
}

#atendimento form input:-ms-input-placeholder,
#atendimento form textarea:-ms-input-placeholder {
  color: #1c1c1c;
}

#atendimento form input:-moz-placeholder,
#atendimento form textarea:-moz-placeholder {
  color: #1c1c1c;
}

#atendimento form .botao {
  text-align: center;
  margin-top: 10px;
}

#atendimento form button {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#atendimento form button:hover {
  background: #00ae5a;
}

@media (max-width: 1200px) {
  #atendimento .infos .divs {
    width: 300px;
  }
}

@media (max-width: 992px) {
  #atendimento .infos {
    padding: 100px 0;
  }

  #atendimento .infos .divs {
    width: 200px;
  }

  #atendimento .infos .divs p {
    font-size: 1.2em;
  }

  #atendimento .infos .divs.centro {
    width: 260px;
  }

  #atendimento .form {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  #atendimento .infos .divs {
    width: 160px;
    padding: 10px;
  }

  #atendimento .infos .divs p {
    font-size: 1em;
  }

  #atendimento .infos .divs.centro {
    width: 198px;
  }
}

@media (max-width: 576px) {
  #atendimento .infos {
    padding: 40px 15px;
  }

  #atendimento .infos .divs {
    width: 100% !important;
    max-width: 250px;
    padding: 10px;
    padding: 15px 10px;
  }

  #atendimento .infos .divs .separador {
    display: none;
  }

  #atendimento .form {
    padding: 40px 15px;
    margin-top: 100px;
  }

  #atendimento .form .titulos img {
    max-width: 50px;
    margin-bottom: 5px;
  }

  #atendimento form {
    margin-top: 10px;
  }

  #atendimento form input,
  #atendimento form textarea {
    height: 50px;
    font-size: 1em;
  }

  #atendimento form textarea {
    height: 200px;
  }

  #atendimento form button {
    padding: 10px 15px;
    font-size: 1em;
  }
}

#cobertura .frase {
  padding: 120px 0 480px;
  background: #005dd3;
}

#cobertura .frase .titulos h2 {
  color: #fff;
}

#cobertura .frase .titulos p {
  color: #00124f;
}

#cobertura .endereco {
  padding-bottom: 200px;
}

#cobertura .endereco .mapa {
  display: block;
  margin: -400px auto 0;
  max-width: 100%;
}

#cobertura .endereco .infos {
  margin-top: 60px;
  padding: 85px 0;
}

#cobertura .endereco .infos .cols {
  position: relative;
}

#cobertura .endereco .infos .regiao {
  padding-left: 60px;
}

#cobertura .endereco .infos h3 {
  font: 2em 'cera', sans-serif;
  color: #1c1c1c;
}

#cobertura .endereco .infos p {
  font: 1.1em 'cera', sans-serif;
  color: #777;
}

#cobertura .endereco .infos .separador {
  width: 2px;
  height: 250px;
  display: block;
  position: absolute;
  top: -68px;
  left: 0;
  background: #1c1c1c;
}

#cobertura .endereco .botao {
  text-align: center;
  position: relative;
  z-index: 1;
}

#cobertura .endereco .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: #005dd3;
  margin-top: 40px;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#cobertura .endereco .botao a:hover {
  background: #00ae5a;
}

#cobertura .ligue.vsp {
  background: url("/../img/cobertura/ligue-vsp.jpg") center top no-repeat;
}

#cobertura .ligue.crz {
  background: url("/../img/cobertura/ligue-crz.jpeg") center top no-repeat;
}

#cobertura .ligue.direct {
  background: url("/../img/cobertura/ligue-direct.jpg") center top no-repeat;
}

#cobertura .ligue.vibe {
  background: url("/../img/cobertura/ligue-vibe.jpg") center top no-repeat;
}

#cobertura .ligue {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-size: cover !important;
}

#cobertura .ligue .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

#cobertura .ligue .container {
  position: relative;
  z-index: 1;
}

#cobertura .ligue .link {
  text-decoration: none;
}

#cobertura .ligue .etiqueta {
  width: 530px;
  height: 700px;
  max-height: 90vh;
  background: url("/../img/cobertura/bandeira.png") center bottom no-repeat;
  display: block;
  position: relative;
  padding-top: 80px;
}

#cobertura .ligue.vsp .etiqueta {
  background-image: url("/../img/cobertura/bandeira-vsp.png");
}

#cobertura .ligue.crz .etiqueta {
  background-image: url("/../img/cobertura/bandeira-crz.png");
}

#cobertura .ligue.direct .etiqueta {
  background-image: url("/../img/cobertura/bandeira-direct.png");
}

#cobertura .ligue.vibe .etiqueta {
  background-image: url("/../img/cobertura/bandeira-vibe.png");
}

#cobertura .ligue .etiqueta h4 {
  font: 700 2em 'cera', sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
  line-height: 28px;
}

#cobertura .ligue .etiqueta p {
  font: 1.4em 'klinic';
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

#cobertura .ligue .etiqueta img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #cobertura .infos .divs {
    width: 300px;
  }

  #cobertura .endereco .mapa {
    margin: -300px auto 0;
  }

  #cobertura .ligue .etiqueta {
    padding-top: 80px;
    width: 300px;
  }
}

@media (max-width: 992px) {
  #cobertura .frase {
    padding-bottom: 300px;
  }

  #cobertura .endereco .mapa {
    margin: -250px auto 0;
  }

  #cobertura .endereco .infos .regiao {
    padding-left: 25px;
  }

  #cobertura .ligue .etiqueta {
    padding-top: 65px;
  }
}

@media (max-width: 768px) {
  #cobertura .frase {
    padding-bottom: 185px;
  }

  #cobertura .endereco {
    padding-bottom: 100px;
  }

  #cobertura .endereco .mapa {
    margin: -160px auto 0;
  }

  #cobertura .endereco .infos {
    padding-bottom: 10px;
    margin-top: 0;
  }

  #cobertura .endereco .infos .separador {
    display: none;
  }

  #cobertura .endereco .infos .regiao {
    padding-left: 0;
  }

  #cobertura .endereco .infos .cols {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  #cobertura .ligue .etiqueta {
    margin: 0 auto;
  }
}

#planos {
  padding: 200px 0;
}

#planos .descricao {
  font: italic 1.1em 'klinic', serif;
  color: #777;
  text-align: center;
  padding: 0 15px;
  margin-top: 100px;
}

#planos .descricao a {
  text-decoration: none;
  font: 700 1em 'cera', sans-serif;
  color: #1c1c1c;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#planos .descricao a span {
  width: 100%;
  height: 3px;
  background: #005dd3;
  display: block;
}

#planos .descricao a:hover {
  color: #005dd3;
}

#planos .panel-body {
  padding: 0 15px;
}

#planos .planos {
  margin-top: 100px;
}

#planos .plano {
  padding: 50px 15px;
  border: #d5d8db solid 3px;
  border-radius: 5px;
  text-align: center;
}

#planos .plano .icon {
  font-size: 4.5em;
  display: inline-block;
  color: #005dd3;
}

#planos .plano .icon-2 {
  font-size: 6.5em;
  margin-top: -26px;
  text-indent: 27px;
}

#planos .plano h5 {
  font: 700 1.1em 'cera', sans-serif;
  color: #1c1c1c;
  margin-top: 30px;
  text-transform: uppercase;
}

#planos .plano .desc {
  font: italic 1em 'klinic', serif;
  color: #1c1c1c;
  min-height: 110px;
}

@-webkit-keyframes treme {
  0% {
    text-indent: 0;
  }

  25% {
    text-indent: 5px;
  }

  50% {
    text-indent: 0;
  }

  75% {
    text-indent: -5px;
  }

  100% {
    text-indent: 0;
  }
}

@keyframes treme {
  0% {
    text-indent: 0;
  }

  25% {
    text-indent: 5px;
  }

  50% {
    text-indent: 0;
  }

  75% {
    text-indent: -5px;
  }

  100% {
    text-indent: 0;
  }
}

#planos .plano p.mb.tremer {
  -webkit-animation: treme 0.1s;
          animation: treme 0.1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

#planos .plano p.mb .sinais {
  font: 300 2em 'cera', sans-serif;
  color: #005dd3;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 30px;
  z-index: 2;
}

#planos .plano p.mb .price {
  font: 8em 'cera', sans-serif;
  color: #005dd3;
  text-align: center;
  margin: -25px -5px -5px -10px;
  width: 172px;
  display: inline-block;
  letter-spacing: -22px;
}

#planos .plano p.mb .price b {
  font-size: 0.367em;
  letter-spacing: -7px;
  font-weight: 700;
  margin-left: -2px;
}

#planos .plano p.desc-price {
  font: 1.1em 'cera', sans-serif;
  color: #777;
  margin-bottom: 20px;
}

#planos .plano .line {
  display: block;
  padding: 0 15px;
  text-align: center;
  margin-top: -20px;
}

#planos .plano .line span {
  width: 100%;
  max-width: 415px;
  height: 2px;
  background: #1c1c1c;
  display: inline-block;
}

#planos .plano a.regiao {
  font: italic 1em 'klinic';
  color: #005dd3;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#planos .plano a.regiao:hover {
  color: #00ae5a;
}

#planos .plano .infos {
  margin-top: 15px;
  text-align: center;
}

#planos .plano .infos p {
  font: 1.188em 'cera';
  color: #1c1c1c;
  margin-bottom: 0;
}

#planos .plano .infos p span {
  font-weight: 700;
}

#planos .plano .infos i {
  font-style: normal;
}

#planos .plano .botao {
  text-align: center;
}

#planos .plano .botao a {
  display: inline-block;
  clear: both;
  width: 100%;
  max-width: 185px;
  height: 50px;
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: #005dd3;
  border: #005dd3 solid 2px;
  border-radius: 30px;
  margin-top: 40px;
  text-decoration: none;
  line-height: 48px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#planos .plano .botao a:hover {
  color: #fff;
  background: #005dd3;
}

#planos .slick-list {
  padding: 0 !important;
}

#planos .plano-active .plano,
#planos .slick-center .plano {
  background: #005dd3;
  border-color: #005dd3;
  padding-top: 100px;
  margin-top: -50px;
}

#planos .plano-active .plano .icon,
#planos .slick-center .plano .icon {
  color: #fff;
}

#planos .plano-active .plano p.mb .price,
#planos .plano-active .plano p.mb .sinais,
#planos .plano-active .plano .desc,
#planos .slick-center .plano p.mb .price,
#planos .slick-center .plano p.mb .sinais,
#planos .slick-center .plano .desc {
  color: #fff;
}

#planos .plano-active .plano .desc-price,
#planos .slick-center .plano .desc-price {
  color: #1c1c1c;
}

#planos .plano-active .plano .botao a,
#planos .slick-center .plano .botao a {
  background: #00124f;
  border-color: #00124f;
  color: #fff;
}

#planos .slick-slide {
  outline: none;
}

#planos .slick-list {
  padding-top: 50px !important;
}

#planos .slide {
  position: relative;
}

#planos .slide .arrows.hidden {
  display: none;
}

#planos .slide .arrows {
  width: 107px;
  height: 107px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  border: #d5d8db solid 2px;
  font-size: 1.5em;
  color: #005dd3;
  line-height: 107px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#planos .slide .arrows.prev {
  left: -110px;
}

#planos .slide .arrows.prev .icon {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  /* FF */
  /* Opera */
  /* IE9 */
  transform: rotate(180deg);
}

#planos .slide .arrows.next {
  right: -110px;
}

#planos .slide .arrows:hover {
  background: #005dd3;
  color: #fff;
}

#planos .center {
  padding: 0 80px;
}

#planos .center.center-full {
  padding: 0;
}

@media (max-width: 1550px) {
  #planos .plano p.mb .sinais.mais {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  #planos .plano {
    padding: 20px 15px;
  }

  #planos .plano .icon {
    font-size: 3.5em;
  }

  #planos .plano .icon-2 {
    font-size: 5em;
  }

  #planos .plano h5 {
    margin-top: 15px;
    font-size: 1em;
  }

  #planos .plano .desc {
    font-size: .88em;
    min-height: 150px;
  }

  #planos .plano p.mb .price {
    font-size: 5.8em;
    letter-spacing: -8px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #planos .plano p.desc-price {
    font-size: 1em;
  }

  #planos .plano .infos p {
    font-size: 1em;
  }

  #planos .plano .botao a {
    height: 42px;
    line-height: 42px;
    font-size: .88em;
    max-width: 150px;
    margin-top: 15px;
  }

  #planos .center {
    padding: 0 40px;
  }

  #planos .slide .arrows {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  #planos .slide .arrows.next {
    right: -80px;
  }

  #planos .slide .arrows.prev {
    left: -80px;
  }

  #planos .plano-active .plano,
  #planos .slick-center .plano {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  #planos {
    padding: 100px 0;
  }

  #planos .center {
    padding: 0 70px !important;
  }

  #planos .plano .desc {
    max-width: 300px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #planos .plano .line span {
    max-width: 300px;
  }

  #planos .plano-active .plano,
  #planos .slick-center .plano {
    padding-top: 20px;
    margin-top: 0;
  }

  #planos .plano .icon-2 {
    margin-top: -10px;
    font-size: 5em;
  }

  #planos .slide .arrows.hidden {
    display: block;
  }
}

@media (max-width: 576px) {
  #planos {
    padding: 50px 0;
  }

  #planos .descricao {
    font-size: .88em;
    margin-top: 0px;
  }

  #planos .plano .botao a {
    font-size: .8em;
  }
}
