.clear {
  clear: both;
}

.main-panel {
  max-height: auto !important;
  overflow: inherit !important;
}

.content-center {
  text-align: center;
}

.circle-status {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circle-status.ativo {
  background: #5cb85c
}
.circle-status.inativo {
  background: #d9534f
}
.circle-status.warning {
  background: #f0ad4e
}


.color-ativo {
  color: #5cb85c !important
}
.color-inativo {
  color: #d9534f !important
}
.color-warning {
  color: #f0ad4e !important
}

.btn-novo {
  margin-top: -25px;
  padding-left: 12px;
  padding-right: 12px;
}

.form-group .label-error {
  display: none;
  color: #d9534f
}
.form-group.has-error .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#d9534f)),
  -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: linear-gradient(#d9534f, #d9534f), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
}
.form-group.has-error .label-error {
  display: block;
}

.checkbox label {
  color: #555555
}


.input-color {
  width: 100px
}

.property-color {
  min-width: 43px;
  display: inline-block;
}

.bootstrap-select {
  width: 100% !important;
  margin-top: 2px;
}
.bootstrap-select span.filter-option {
  color: #555555;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 14px
}

.bootstrap-select .bs-placeholder span.filter-option {
  color: #afafaf;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 14px
}
.bootstrap-select span.filter-option::first-letter {
  text-transform: uppercase;
}

.bootstrap-select .dropdown-toggle {
    border: 0 !important;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent !important;
    transition: background 0s ease-out !important;
    float: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: #3C4858 !important;
    height: 34px;
    padding-left: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 2px;
}

.bootstrap-select .dropdown-toggle .caret,
.bootstrap-select .dropdown-toggle .ripple-container {
    display: none;
}

.btn-group.bootstrap-select.open .dropdown-toggle {
    outline: none !important;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 100% 2px, 100% 1px !important;
    box-shadow: none;
    transition-duration: 0.3s !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {

}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0
}
.bootstrap-select.btn-group .dropdown-menu li a:focus {
  outline: none !important
}





// Switch
// https://codepen.io/andreasstorm/pen/ZGjNwZ

.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #6fbeb5;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #179588;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after {
  background: #bcbdbc;
}

.press {
  margin-bottom: 40px;
  margin-top: 5px
}
.hidden {
  display: none;
}

.table > tbody > tr > td {
  font-weight: 300;
  font-size: 14px;
}
