#edit-sites .input-file {
  margin-top: 10px
}
#edit-sites .input-file .input-group {
  width: 100%;
  position: relative;
}
#edit-sites .input-file .icon {
  position: absolute;
  top: -3px;
  left: 10px;
}
#edit-sites .input-file input {
  padding-left: 56px
}
#edit-sites .input-file .icon i {
  font-size: 35px;
  color: #1abccf
}
#edit-sites .preview-image {
  max-width: 150px !important;
  padding: 15px;
}

.card-plan .card-content label {
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0;
}
.card-plan .card-content .col-input {
    padding-top: 0;
    padding-bottom: 0;
}
.card-plan .card-content .form-group {
    padding-bottom: 5px;
}
.card-plan .bootstrap-select button {
    padding-right: 0 !important;
}

.infos-solicitations .string {
    margin-top: 5px !important;
    p {
        margin: 0
    }
    b {
        font-weight: normal;
    }
}
