.titulos h2 {
  color: #005dd3;
}

#footer ul li.redes a .icon {
  color: #005dd3;
}

#footer ul li.redes a:hover .icon {
  color: #00ae5a;
}

#footer .rodape .bg {
  color: #005dd3;
}

#footer ul li a:hover {
  color: #005dd3;
}

.faq .titulo h2 {
  color: #005dd3;
}

.faq .botao a {
  background: #005dd3;
}

.faq .botao a:hover {
  background: #00ae5a;
}

.faq .perguntas .cont .title .icon {
  color: #005dd3;
}

.internet .botao a {
  background: #005dd3;
}

.internet .botao a:hover {
  background: #00ae5a;
}

.pensando .titulo h2 {
  color: #005dd3;
}

.pensando .botao a {
  background: #005dd3;
}

.pensando .botao a:hover {
  background: #00ae5a;
}

.pensando .info p.mb {
  color: #005dd3;
}

.pensando .info a.regiao {
  color: #005dd3;
}

.pensando .info a.regiao:hover {
  color: #00ae5a;
}

.pensando .info a.bt {
  border-color: #005dd3 !important;
}

.pensando .info a.bt:hover {
  background: #005dd3;
}

.pensando .mude p {
  color: #005dd3;
}

.vantagens .titulo h2 {
  color: #005dd3;
}

.vantagens .info h4 {
  color: #005dd3;
}

.vantagens .botao a {
  background: #005dd3;
}

.vantagens .botao a:hover {
  background: #00ae5a;
}

.vantagens .mude a {
  /* background: #00124f; */
}

.vantagens .mude a .left {
  color: #005dd3;
}

.vantagens .mude a .rigth {
  color: #005dd3;
}

.vantagens .info .detalhe .icon {
  color: #005dd3;
}

.entre-nessa .botao a {
  background: #00ae5a;
}

.entre-nessa .botao a:hover {
  background: #005dd3;
}

#atendimento .frase {
  background: #005dd3;
}

#atendimento .frase .titulos p {
  color: #00124f;
}

#atendimento .infos .titulo .icon {
  color: #005dd3;
}

#atendimento .infos .titulo p {
  color: #005dd3;
}

#atendimento .infos .divs p span {
  color: #005dd3;
}

#atendimento form button {
  background: #005dd3;
}

#atendimento form button:hover {
  background: #00ae5a;
}

#atendimento .form .titulos .icon {
  color: #005dd3;
}

#cobertura .frase {
  background: #005dd3;
}

#cobertura .frase .titulos p {
  color: #00124f;
}

#cobertura .endereco .botao a {
  background: #005dd3;
}

#cobertura .endereco .botao a:hover {
  background: #00ae5a;
}

#home .banner .pub .links .bt {
  color: #005dd3;
}

#home .banner .pub .links .bt:hover {
  background: #005dd3;
}

#institucional .infos {
  background: #00124f;
}

#institucional .icons .icon a {
  color: #005dd3;
  border-color: #005dd3;
}

#institucional .icons .icon a:hover {
  background: #005dd3;
}

#institucional .infos .titulos p {
  color: #005dd3;
}

#institucional .infos .case .icon {
  color: #005dd3;
}

#planos .descricao a span {
  background: #005dd3;
}

#planos .descricao a:hover {
  color: #005dd3;
}

#planos .plano p.mb .sinais {
  color: #005dd3;
}

#planos .plano p.mb .price {
  color: #005dd3;
}

#planos .plano a.regiao {
  color: #005dd3;
}

#planos .plano a.regiao:hover {
  color: #00ae5a;
}

#planos .plano .botao a {
  color: #005dd3;
  border-color: #005dd3;
}

#planos .plano .botao a:hover {
  background: #005dd3;
}

#planos .slide .arrows {
  color: #005dd3;
}

#planos .slide .arrows:hover {
  background: #005dd3;
  border-color: #005dd3;
}

#planos .plano-active .plano,
#planos .slick-center .plano {
  background: #005dd3;
  border-color: #005dd3;
}

#planos .plano .icon {
  color: #005dd3;
}

#planos .plano-active .plano .botao a,
#planos .slick-center .plano .botao a {
  background: #00124f;
  border-color: #00124f;
}

#header .line {
  background: #005dd3;
}

#header .line .bt {
  background: #00124f;
}

#header .menu {
  background: #005dd3;
}

#header .city .right p a {
  color: #00124f;
}

#header .city .right .barra {
  background: #00124f;
}

#header .city .right .link {
  color: #00124f;
}

#header .menu nav ul li a {
  color: #00124f;
}

#footer .rodape .line {
  background: #005dd3;
}

#footer .rodape .info p {
  color: #005dd3;
}

#footer .rodape .info p span {
  background: #005dd3;
}

@media (max-width: 576px) {
  #header .menu nav {
    background: #005dd3;
  }
}

#regiao .emissao .bloco .link {
  background: #005dd3;
}

#regiao .emissao .bloco .link:hover {
  background: #00ae5a;
}

#regiao .botao {
  color: #005dd3;
}

#regiao .botao:hover {
  color: #00ae5a;
}

#regiao .chosen-with-drop .chosen-drop {
  background: #005dd3;
  border-color: #005dd3;
}

#regiao .chosen-container .chosen-results li.highlighted {
  color: #005dd3;
}

#regiao .chosen-container-single .chosen-single div b::before {
  color: #005dd3;
}
