@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c42gxg');
  src:  url('fonts/icomoon.eot?c42gxg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c42gxg') format('truetype'),
    url('fonts/icomoon.woff?c42gxg') format('woff'),
    url('fonts/icomoon.svg?c42gxg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boleto:before {
  content: "\e901";
}
.icon-carta:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-flexas:before {
  content: "\e904";
}
.icon-footer:before {
  content: "\e905";
}
.icon-icon1-planos:before {
  content: "\e906";
}
.icon-icon1-texto-institucional:before {
  content: "\e907";
}
.icon-icon1-vantagens:before {
  content: "\e908";
}
.icon-icon2-planos:before {
  content: "\e909";
}
.icon-icon2-texto-institucional:before {
  content: "\e90a";
}
.icon-icon2-vantagens:before {
  content: "\e90b";
}
.icon-icon3-planos:before {
  content: "\e90c";
}
.icon-icon3-texto-institucional:before {
  content: "\e90d";
}
.icon-icon3-vantagens:before {
  content: "\e90e";
}
.icon-icon4-vantagens:before {
  content: "\e90f";
}
.icon-icon5-vantagens:before {
  content: "\e910";
}
.icon-icon6-vantagens:before {
  content: "\e911";
}
.icon-icon-maps:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-moca-atendimento:before {
  content: "\e914";
}
.icon-seta:before {
  content: "\e915";
}
.icon-svg:before {
  content: "\e900";
}
