#atendimento .frase {
  padding: 120px 0 40px;
  background: $primary;
}
#atendimento .frase .titulos h2 {
  color: #fff;
}
#atendimento .frase .titulos p {
  color: $primaryStrong;
}

#atendimento .infos {
  padding: 200px 0;
}

#atendimento .infos .titulo {
  text-align: center;
}
#atendimento .infos .titulo .icon {
  font-size: 5em;
  color: $primary;
}
#atendimento .infos .titulo p {
  font: 1.4em 'cera', sans-serif;
  color: $primary;
  margin-top: 25px;
}

#atendimento .infos {
  text-align: center;
}
#atendimento .infos .divs {
  width: 356px;
  display: inline-block;
  border-bottom: #d5d8db solid 2px;
  padding: 20px;
  text-align: center;
  position: relative;
  margin: 0 -3px;
}
#atendimento .infos .divs p {
  margin: 0;
  font: 1.4em 'cera', sans-serif;
  text-align: center;
  color: #777;
}
#atendimento .infos .divs p span {
  color: $primary;
}

#atendimento .infos .divs .separador {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: -1px;
  width: 2px;
  height: 60px;
  background: #d5d8db
}

#atendimento .infos .texto {
  margin-top: 40px;
  padding: 0 15px;
}
#atendimento .infos .texto p {
  font: 1.2em 'klinic', sans-serif;
  color: #777;
  text-align: center;
}



#atendimento .form {
  padding: 200px 0;
  background: #f6f6f6;
}
#atendimento .form .titulos {
  text-align: center;
}
#atendimento .form .titulos .icon {
  margin-bottom: 20px;
  font-size: 5em;
  color: $primary
}

#atendimento form {
  margin-top: 40px;
}
#atendimento form input,
#atendimento form textarea {
  width: 100%;
  height: 80px;
  border: #d5d8db solid 2px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  background: none;
  font: 1.2em 'cera', sans-serif;
  color: #1c1c1c;
  outline: none;
  margin-bottom: 20px;
}
#atendimento form textarea {
  padding: 20px;
  height: 300px
}
#atendimento form input:focus,
#atendimento form textarea:focus {
  border-color: #1c1c1c
}

#atendimento form input::-webkit-input-placeholder,
#atendimento form textarea::-webkit-input-placeholder { color: #1c1c1c; }
#atendimento form input::-moz-placeholder,
#atendimento form textarea::-moz-placeholder { color: #1c1c1c; }
#atendimento form input:-ms-input-placeholder,
#atendimento form textarea:-ms-input-placeholder { color: #1c1c1c; }
#atendimento form input:-moz-placeholder,
#atendimento form textarea:-moz-placeholder { color: #1c1c1c; }

#atendimento form .botao {
  text-align: center;
  margin-top: 10px;
}
#atendimento form button {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  color: #fff;
  font: 700 1.188em 'cera';
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
  @include transition();
}
#atendimento form button:hover {
  background: $secundary;
}




@media (max-width: 1200px) {
  #atendimento .infos .divs {
    width: 300px;
  }
}

@media (max-width: 992px) {

  #atendimento .infos {
    padding: 100px 0;
  }

  #atendimento .infos .divs {
    width: 200px;
  }
  #atendimento .infos .divs p {
    font-size: 1.2em
  }
  #atendimento .infos .divs.centro {
    width: 260px;
  }

  #atendimento .form {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {

  #atendimento .infos .divs {
    width: 160px;
    padding: 10px;
  }
  #atendimento .infos .divs p {
    font-size: 1em
  }
  #atendimento .infos .divs.centro {
    width: 198px;
  }
}

@media (max-width: 576px) {

  #atendimento .infos {
    padding: 40px 15px;
  }
  #atendimento .infos .divs {
    width: 100% !important;
    max-width: 250px;
    padding: 10px;
    padding: 15px 10px;
  }
  #atendimento .infos .divs .separador {
    display: none;
  }

  #atendimento .form {
    padding: 40px 15px;
    margin-top: 100px;
  }
  #atendimento .form .titulos img {
    max-width: 50px;
    margin-bottom: 5px;
  }

  #atendimento form {
    margin-top: 10px;
  }
  #atendimento form input,
  #atendimento form textarea {
    height: 50px;
    font-size: 1em
  }
  #atendimento form textarea {
    height: 200px;
  }

  #atendimento form button {
    padding: 10px 15px;
    font-size: 1em;
  }

}
