#cobertura .frase {
  padding: 120px 0 480px;
  background: $primary;
}
#cobertura .frase .titulos h2 {
  color: #fff;
}
#cobertura .frase .titulos p {
  color: $primaryStrong;
}



#cobertura .endereco {
  padding-bottom: 200px;
}
#cobertura .endereco .mapa {
  display: block;
  margin: -400px auto 0;
  max-width: 100%;
}

#cobertura .endereco .infos {
  margin-top: 60px;
  padding: 85px 0;
}
#cobertura .endereco .infos .cols {
  position: relative;
}
#cobertura .endereco .infos .regiao {
  padding-left: 60px
}
#cobertura .endereco .infos h3 {
  font: 2em 'cera', sans-serif;
  color: #1c1c1c
}
#cobertura .endereco .infos p {
  font: 1.1em 'cera', sans-serif;
  color: #777
}
#cobertura .endereco .infos .separador {
  width: 2px;
  height: 250px;
  display: block;
  position: absolute;
  top: -68px;
  left: 0;
  background: #1c1c1c;
}
#cobertura .endereco .botao {
  text-align: center;
  position: relative;
  z-index: 1;
  // margin-top: 30px;
}
#cobertura .endereco .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  margin-top: 40px;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cobertura .endereco .botao a:hover {
  background: $secundary;
}





#cobertura .ligue.vsp { background: url('/../img/cobertura/ligue-vsp.jpg') center top no-repeat; }
#cobertura .ligue.crz { background: url('/../img/cobertura/ligue-crz.jpeg') center top no-repeat; }
#cobertura .ligue.direct { background: url('/../img/cobertura/ligue-direct.jpg') center top no-repeat; }
#cobertura .ligue.vibe { background: url('/../img/cobertura/ligue-vibe.jpg') center top no-repeat; }
#cobertura .ligue {
  position: relative;
  height: 100vh;
  min-height: 500px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#cobertura .ligue .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4)
}
#cobertura .ligue .container {
  position: relative;
  z-index: 1
}
#cobertura .ligue .link {
  text-decoration: none;
}
#cobertura .ligue .etiqueta {
  width: 530px;
  height: 700px;
  max-height: 90vh;
  background: url('/../img/cobertura/bandeira.png') center bottom no-repeat;
  display: block;
  position: relative;
  padding-top: 80px;
}
#cobertura .ligue.vsp .etiqueta {
  background-image: url('/../img/cobertura/bandeira-vsp.png');
}
#cobertura .ligue.crz .etiqueta {
  background-image: url('/../img/cobertura/bandeira-crz.png');
}
#cobertura .ligue.direct .etiqueta {
  background-image: url('/../img/cobertura/bandeira-direct.png');
}
#cobertura .ligue.vibe .etiqueta {
  background-image: url('/../img/cobertura/bandeira-vibe.png');
}

#cobertura .ligue .etiqueta h4 {
  font: 700 2em 'cera', sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
  line-height: 28px;
}
#cobertura .ligue .etiqueta p {
  font: 1.4em 'klinic';
  color: #fff;
  text-align: center;
  margin-top: 5px;
}
#cobertura .ligue .etiqueta img {
  display: block;
  margin: 0 auto;
}




@media (max-width: 1200px) {
  #cobertura .infos .divs {
    width: 300px;
  }

  #cobertura .endereco .mapa {
    margin: -300px auto 0;
  }

  #cobertura .ligue .etiqueta {
    padding-top: 80px;
    width: 300px;
  }

}

@media (max-width: 992px) {

  #cobertura .frase {
    padding-bottom: 300px;
  }

  #cobertura .endereco .mapa {
    margin: -250px auto 0;
  }

  #cobertura .endereco .infos .regiao {
    padding-left: 25px
  }

  #cobertura .ligue .etiqueta {
    padding-top: 65px;
  }
}

@media (max-width: 768px) {
  #cobertura .frase {
    padding-bottom: 185px;
  }

  #cobertura .endereco {
    padding-bottom: 100px
  }
  #cobertura .endereco .mapa {
    margin: -160px auto 0;
  }

  #cobertura .endereco .infos {
    padding-bottom: 10px;
    margin-top: 0;
  }
  #cobertura .endereco .infos .separador {
    display: none;
  }
  #cobertura .endereco .infos .regiao {
    padding-left: 0
  }
  #cobertura .endereco .infos .cols {
    text-align: center;
    margin-bottom: 10px;
  }


}

@media (max-width: 576px) {

  #cobertura .ligue .etiqueta {
    margin: 0 auto
  }

}
