
@mixin transition($second: .2s) {
  -webkit-transition: all $second ease;
  -moz-transition: all $second ease;
  -ms-transition: all $second ease;
  -o-transition: all $second ease;
  transition: all $second ease;
}


.titulos h2 {
  margin: 0;
  padding: 0;
  color: $primary;
  font: 4.375em 'cera';
  text-align: center;
}
.titulos p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c
}


.modal-content {
  border-radius: 0 !important;
  border: none !important
}
.modal-subtitle {
  display: block;
}
.modal-content label {
  font: 700 1em 'cera', sans-serif;
  color: #1c1c1c
}
.modal-content button {
  cursor: pointer;
}

@media (max-width: 576px) {

  .titulos {
    margin-bottom: 20px;
  }
  .titulos h2 {
    font-size: 2em
  }
  .titulos p {
    font-size: 1em
  }

}




@import "./components/vantagens";
@import "./components/internet-para-todos";
@import "./components/pensando-em-voce";
@import "./components/midias";
@import "./components/faq";
@import "./components/entre-nessa";
