@font-face {
  font-family: 'cera';
  src: url('/../fonts/app/cera-regular.eot');
  src: url('/../fonts/app/cera-regular.woff2') format('woff2'),
       url('/../fonts/app/cera-regular.woff') format('woff'),
       url('/../fonts/app/cera-regular.ttf') format('truetype'),
       url('/../fonts/app/cera-regular.svg#cera') format('svg'),
       url('/../fonts/app/cera-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cera';
  src: url('/../fonts/app/cera-bold.eot');
  src: url('/../fonts/app/cera-bold.woff2') format('woff2'),
       url('/../fonts/app/cera-bold.woff') format('woff'),
       url('/../fonts/app/cera-bold.ttf') format('truetype'),
       url('/../fonts/app/cera-bold.svg#cera') format('svg'),
       url('/../fonts/app/cera-bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cera';
  src: url('/../fonts/app/cera-regular-italic.eot');
  src: url('/../fonts/app/cera-regular-italic.woff2') format('woff2'),
       url('/../fonts/app/cera-regular-italic.woff') format('woff'),
       url('/../fonts/app/cera-regular-italic.ttf') format('truetype'),
       url('/../fonts/app/cera-regular-italic.svg#cera') format('svg'),
       url('/../fonts/app/cera-regular-italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cera';
  src: url('/../fonts/app/cera-bold-italic.eot');
  src: url('/../fonts/app/cera-bold-italic.woff2') format('woff2'),
       url('/../fonts/app/cera-bold-italic.woff') format('woff'),
       url('/../fonts/app/cera-bold-italic.ttf') format('truetype'),
       url('/../fonts/app/cera-bold-italic.svg#cera') format('svg'),
       url('/../fonts/app/cera-bold-italic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'klinic';
  src: url('/../fonts/app/klinic-slab-medium-italic.eot');
  src: url('/../fonts/app/klinic-slab-medium-italic.woff2') format('woff2'),
       url('/../fonts/app/klinic-slab-medium-italic.woff') format('woff'),
       url('/../fonts/app/klinic-slab-medium-italic.ttf') format('truetype'),
       url('/../fonts/app/klinic-slab-medium-italic.svg#klinic-slab-medium-italic') format('svg'),
       url('/../fonts/app/klinic-slab-medium-italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/../fonts/app/icomoon.eot?c42gxg');
  src:  url('/../fonts/app/icomoon.eot?c42gxg#iefix') format('embedded-opentype'),
    url('/../fonts/app/icomoon.ttf?c42gxg') format('truetype'),
    url('/../fonts/app/icomoon.woff?c42gxg') format('woff'),
    url('/../fonts/app/icomoon.svg?c42gxg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boleto:before {
  content: "\e901";
}
.icon-carta:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-flexas:before {
  content: "\e904";
}
.icon-footer:before {
  content: "\e905";
}
.icon-icon1-planos:before {
  content: "\e906";
}
.icon-icon1-texto-institucional:before {
  content: "\e907";
}
.icon-icon1-vantagens:before {
  content: "\e908";
}
.icon-icon2-planos:before {
  content: "\e909";
}
.icon-icon2-texto-institucional:before {
  content: "\e90a";
}
.icon-icon2-vantagens:before {
  content: "\e90b";
}
.icon-icon3-planos:before {
  content: "\e90c";
}
.icon-icon3-texto-institucional:before {
  content: "\e90d";
}
.icon-icon3-vantagens:before {
  content: "\e90e";
}
.icon-icon4-vantagens:before {
  content: "\e90f";
}
.icon-icon5-vantagens:before {
  content: "\e910";
}
.icon-icon6-vantagens:before {
  content: "\e911";
}
.icon-icon-maps:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-moca-atendimento:before {
  content: "\e914";
}
.icon-seta:before {
  content: "\e915";
}
.icon-svg:before {
  content: "\e900";
}
