#home {}
#home .banner.vsp { background: url('/../img/banner-vsp.jpg') center 40px no-repeat}
#home .banner.crz { background: url('/../img/banner-crz.jpg') center 40px no-repeat}
#home .banner.direct { background: url('/../img/banner-direct.jpg') center 40px no-repeat}
#home .banner.vibe { background: url('/../img/banner-vibe.jpg') center 40px no-repeat}
#home .banner {
  z-index: 8;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#home .banner .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, .4)
}

#home .banner .container {
  height: 100%;
  position: relative;
}
#home .banner .pub {
  position: absolute;
  bottom: 70px;
  left: 130px;
}
#home .banner .pub h2 {
  font: 4.375em 'cera';
  color: #fff;
  position: relative;
  line-height: 60px;
  left: -110px;
  opacity: 0;
  filter: alpha(opacity=0);
}
#home .banner .pub.active h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 0;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
#home .banner .pub h2 img {
  position: absolute;
  top: -135px;
  left: -100px;
}
#home .banner .pub p {
  font: italic 1.625em 'klinic';
  color: #fff;
  left: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
#home .banner .pub.active p {
  opacity: 1;
  filter: alpha(opacity=100);
}
#home .banner .pub .links {
  margin-top: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
#home .banner .pub.active .links {
  opacity: 1;
  filter: alpha(opacity=100);
}
#home .banner .pub .links .bt {
  display: inline-block;
  padding: 10px 23px;
  background: #fff;
  color: $primary;
  font: 700 1.188em 'cera';
  text-decoration: none;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#home .banner .pub .links .bt:hover {
  color: #fff;
  background: $primary
}
#home .banner .pub .links .tour {
  font: 700 1.188em 'cera';
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
#home .banner .pub .links .tour img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#home .banner .pub .links .tour:hover img {
  margin-left: 10px;
}



@media (max-width: 1400px) {
  #home .banner .pub {
    bottom: 60px !important
  }

  #home .banner .pub h2 {
    font-size: 3em;
    line-height: 40px;
  }
  #home .banner .pub h2 img {
    max-width: 130px;
    top: -115px;
    left: -80px;
  }
  #home .banner .pub p {
    font-size: 1.15em
  }
  #home .banner .pub .links {
    margin-top: 10px
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  #home .banner .pub h2 {
    font-size: 2em;
    line-height: 40px;
  }
  #home .banner .pub h2 img {
    max-width: 90px;
    top: -75px;
    left: -58px;
  }
  #home .banner .pub p {
    font-size: 1em
  }
  #home .banner .pub .links .bt {
    font-size: 1em;
    padding: 8px 12px;
  }
  #home .banner .pub .links .tour {
    font-size: 1em
  }
  #home .banner .pub .links .tour img {
    max-height: 20px;
  }

}

@media (max-width: 576px) {
  #home .banner .pub {
    left: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    bottom: 50px
  }
  #home .banner .pub h2 img {
    display: none;
  }

}
