#institucional {}

#institucional .banner.vsp { background: url('/../img/institucional/banner-vsp.jpeg') center top no-repeat }
#institucional .banner.crz { background: url('/../img/institucional/banner-crz.jpg') center top no-repeat }
#institucional .banner.direct { background: url('/../img/institucional/banner-direct.jpg') center top no-repeat }
#institucional .banner.vibe { background: url('/../img/institucional/banner-vibe.jpeg') center top no-repeat }
#institucional .banner {
  width: 100%;
  position: relative;
  height: 100vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#institucional .sobre {
  padding: 200px 0;
}
#institucional .sobre .titulo {
  margin-bottom: 40px;
  padding: 0 15px;
}

#institucional .sobre .texto {
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: #1c1c1c;
}


#institucional .icons {
  margin-top: 80px;
  text-align: center;
}
#institucional .icons .icon {
  display: inline-block;
  max-width: 185px;
  margin: 10px 35px;
  text-align: center;
}
#institucional .icons .icon img {
  max-width: 100%;
}
#institucional .icons .icon a {
  display: block;
  clear: both;
  width: 100%;
  max-width: 185px;
  height: 50px;
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: $primary;
  border: $primary solid 2px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-top: 40px;
  text-decoration: none;
  line-height: 48px;
  @include transition();
}
#institucional .icons .icon a:hover {
  color: #fff;
  background: $primary;
}


#institucional .banner2.vsp { background: url('/../img/institucional/banner2-vsp.jpg') center top no-repeat }
#institucional .banner2.crz { background: url('/../img/institucional/banner2-crz.jpg') center top no-repeat }
#institucional .banner2.direct { background: url('/../img/institucional/banner2-direct.jpeg') center top no-repeat }
#institucional .banner2.vibe { background: url('/../img/institucional/banner2-vibe.jpg') center top no-repeat }
#institucional .banner2 {
  width: 100%;
  position: relative;
  height: 100vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}


#institucional .infos {
  background: $primaryStrong;
  padding: 200px 0;
}
#institucional .infos .titulos h2 {
  color: #fff;
}
#institucional .infos .titulos p {
  color: $primary;
}

#institucional .infos .case {
  padding: 45px 0;
  text-align: center;
}
#institucional .infos .case .icon {
  font-size: 5.5em;
  color: $primary;
}
#institucional .infos .case h4 {
  padding: 0;
  margin: 0;
  font: 700 1.05em 'cera', sans-serif;
  color: #fff;
  margin-top: 20px;
}
#institucional .infos .case p {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  font: 1.05em 'cera', sans-serif;
  color: #fff;
  margin-top: 20px;
}


#institucional .banner3.vsp { background: url('/../img/institucional/banner3-vsp.jpg') center top no-repeat }
#institucional .banner3.crz { background: url('/../img/institucional/banner3-crz.png') center top no-repeat }
#institucional .banner3.direct { background: url('/../img/institucional/banner3-direct.jpg') center top no-repeat }
#institucional .banner3.vibe { background: url('/../img/institucional/banner3-vibe.jpg') center top no-repeat }
#institucional .banner3 {
  width: 100%;
  position: relative;
  height: 100vh;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  #institucional .sobre {
    padding: 50px 0;
  }
  #institucional .sobre .titulo {
    margin-bottom: 20px;
  }

}

@media (max-width: 576px) {

  #institucional .sobre .texto {
    font-size: .8em;
    padding: 0 15px;
  }
  #institucional .sobre .icons {
    padding: 40px 0;
    margin-top: 20px;
  }
  #institucional .sobre .icons .icon {
    max-width: 100px;
  }
  #institucional .sobre .icons .icon a {
    font-size: .8em
  }

  #institucional .infos {
    padding: 40px 0;
  }
  #institucional .infos .case {
    padding: 20px 0;
  }
  #institucional .infos .case h4 {
    font-size: .8em
  }
  #institucional .infos .case p {
    font-size: .8em
  }

}
