
// DEFAULT
.titulos h2 {
  color: $primary;
}
// DEFAULT



// FOOTER
#footer ul li.redes a .icon {
  color: $primary
}
#footer ul li.redes a:hover .icon {
  color: $secundary
}
#footer .rodape .bg {
  color: $primary
}
#footer ul li a:hover {
  color: $primary;
}
// FOOTER




// FAQ
.faq .titulo h2 {
  color: $primary;
}
.faq .botao a {
  background: $primary;
}
.faq .botao a:hover {
  background: $secundary;
}
.faq .perguntas .cont .title .icon {
  color: $primary;
}
// FAQ



// INTENET PARA TODOS
.internet .botao a {
  background: $primary;
}
.internet .botao a:hover {
  background: $secundary;
}
// INTENET PARA TODOS



// PENSANDO EM VOCE
.pensando .titulo h2 {
  color: $primary;
}
.pensando .botao a {
  background: $primary;
}
.pensando .botao a:hover {
  background: $secundary;
}
.pensando .info p.mb {
  color: $primary;
}
.pensando .info a.regiao {
  color: $primary;
}
.pensando .info a.regiao:hover {
  color: $secundary;
}
.pensando .info a.bt {
  border-color: $primary !important;
}
.pensando .info a.bt:hover {
  background: $primary;
}
.pensando .mude p {
  color: $primary;
}
// PENSANDO EM VOCE



// VANTAGENS
.vantagens .titulo h2 {
  color: $primary;
}
.vantagens .info h4 {
  color: $primary;
}
.vantagens .botao a {
  background: $primary;
}
.vantagens .botao a:hover {
  background: $secundary;
}
.vantagens .mude a {
  background: $primaryStrong;
}
.vantagens .mude a .left {
  color: $primary
}
.vantagens .mude a .rigth {
  color: $primary;
}
.vantagens .info .detalhe .icon {
  color: $primary;
}
// VANTAGENS



// ENTRE NESSA
.entre-nessa .botao a {
  background: $secundary;
}
.entre-nessa .botao a:hover {
  background: $primary;
}
// ENTRE NESSA



// ATENDIMENTO
#atendimento .frase {
  background: $primary;
}
#atendimento .frase .titulos p {
  color: $primaryStrong;
}
#atendimento .infos .titulo .icon {
  color: $primary;
}
#atendimento .infos .titulo p {
  color: $primary;
}
#atendimento .infos .divs p span {
  color: $primary;
}
#atendimento form button {
  background: $primary;
}
#atendimento form button:hover {
  background: $secundary;
}
#atendimento .form .titulos .icon {
  color: $primary
}
// ATENDIMENTO



// COBERTURA
#cobertura .frase {
  background: $primary;
}
#cobertura .frase .titulos p {
  color: $primaryStrong;
}
#cobertura .endereco .botao a {
  background: $primary;
}
#cobertura .endereco .botao a:hover {
  background: $secundary;
}
// COBERTURA



// HOME
#home .banner .pub .links .bt {
  color: $primary;
}
#home .banner .pub .links .bt:hover {
  background: $primary
}
// HOME



// INSTITUCIONAL
#institucional .infos {
  background: $primaryStrong;
}
#institucional .icons .icon a {
  color: $primary;
  border-color: $primary;
}
#institucional .icons .icon a:hover {
  background: $primary;
}
#institucional .infos .titulos p {
  color: $primary;
}
#institucional .infos .case .icon {
  color: $primary;
}
// INSTITUCIONAL



// PLANOS
#planos .descricao a span {
  background: $primary;
}
#planos .descricao a:hover {
  color: $primary
}
#planos .plano p.mb .sinais {
  color: $primary;
}
#planos .plano p.mb .price {
  color: $primary;
}
#planos .plano a.regiao {
  color: $primary;
}
#planos .plano a.regiao:hover {
  color: $secundary;
}
#planos .plano .botao a {
  color: $primary;
  border-color: $primary;
}
#planos .plano .botao a:hover {
  background: $primary;
}
#planos .slide .arrows {
  color: $primary;
}
#planos .slide .arrows:hover {
  background: $primary;
  border-color: $primary;
}
#planos .plano-active .plano,
#planos .slick-center .plano {
  background: $primary;
  border-color: $primary;
}
#planos .plano .icon {
  color: $primary;
}
#planos .plano-active .plano .botao a,
#planos .slick-center .plano .botao a {
  background: $primaryStrong;
  border-color: $primaryStrong;
}
// PLANOS



// STYLE
#header .line {
  background: $primary;
}
#header .line .bt {
  background: $primaryStrong
}
#header .menu {
  background: $primary;
}
#header .city .right p a {
  color: $primaryStrong;
}
#header .city .right .barra {
  background: $primaryStrong;
}
#header .city .right .link {
  color: $primaryStrong;
}
#header .menu nav ul li a {
  color: $primaryStrong;
}
#footer .rodape .line {
  background: $primary;
}
#footer .rodape .info p {
  color: $primary;
}
#footer .rodape .info p span {
  background: $primary;
}
@media (max-width: 576px) {
  #header .menu nav {
    background: $primary;
  }
}
// STYLE



// REGIÃO
#regiao .emissao .bloco .link {
  background: $primary;
}
#regiao .emissao .bloco .link:hover {
  background: $secundary
}
#regiao .botao {
  color: $primary
}
#regiao .botao:hover {
  color: $secundary
}
#regiao .chosen-with-drop .chosen-drop{
  background: $primary;
 	border-color: $primary;
}
#regiao .chosen-container .chosen-results li.highlighted{
  color:$primary;
}
#regiao .chosen-container-single .chosen-single div b::before {
  color: $primary;
}
// REGIÃO
