#planos {
  padding: 200px 0;
}

#planos .descricao {
  font: italic 1.1em 'klinic', serif;
  color: #777;
  text-align: center;
  padding: 0 15px;
  margin-top: 100px;
}
#planos .descricao a {
  text-decoration: none;
  font: 700 1em 'cera', sans-serif;
  color: #1c1c1c;
  display: inline-block;
  @include transition();
  span {
    width: 100%;
    height: 3px;
    background: $primary;
    display: block;
  }
}
#planos .descricao a:hover {
  color: $primary
}

#planos .panel-body {
  padding: 0 15px;
}

#planos .planos {
  margin-top: 100px;
}
#planos .plano {
  // width: 350px;
  // float: left;
  padding: 50px 15px;
  border: #d5d8db solid 3px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#planos .plano .icon {
  font-size: 4.5em;
  display: inline-block;
  color: $primary;
}
#planos .plano .icon-2 {
  font-size: 6.5em;
  margin-top: -26px;
  text-indent: 27px;
}
#planos .plano h5 {
  font: 700 1.1em 'cera', sans-serif;
  color: #1c1c1c;
  margin-top: 30px;
  text-transform: uppercase;
}
#planos .plano .desc {
  font: italic 1em 'klinic', serif;
  color: #1c1c1c;
  min-height: 110px;
}

@keyframes treme {
  0% {text-indent: 0;}
  25% {text-indent: 5px;}
  50% {text-indent: 0;}
  75% {text-indent: -5px;}
  100% {text-indent: 0;}
}
#planos .plano p.mb.tremer {
  animation: treme 0.1s;
  animation-iteration-count: 3;
}

#planos .plano p.mb .sinais {
  font: 300 2em 'cera', sans-serif;
  color: $primary;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 30px;
  z-index: 2
}
#planos .plano p.mb .price {
  font: 8em 'cera', sans-serif;
  color: $primary;
  text-align: center;
  margin: -25px -5px -5px -10px;
  width: 172px;
  display: inline-block;
  letter-spacing: -22px;
}
#planos .plano p.mb .price b {
  font-size: 0.367em;
  letter-spacing: -7px;
  font-weight: 700;
  margin-left: -2px;
}
#planos .plano p.desc-price {
  font: 1.1em 'cera', sans-serif;
  color: #777;
  margin-bottom: 20px;
}

#planos .plano .line {
  display: block;
  padding: 0 15px;
  text-align: center;
  margin-top: -20px;
}
#planos .plano .line span {
  width: 100%;
  max-width: 415px;
  height: 2px;
  background: #1c1c1c;
  display: inline-block;
}
#planos .plano a.regiao {
  font: italic 1em 'klinic';
  color: $primary;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#planos .plano a.regiao:hover {
  color: $secundary;
}

#planos .plano .infos {
  margin-top: 15px;
  text-align: center;
}
#planos .plano .infos p {
  font: 1.188em 'cera';
  color: #1c1c1c;
  margin-bottom: 0;
}
#planos .plano .infos p span {
  font-weight: 700
}
#planos .plano .infos i {
    font-style: normal;
}

#planos .plano .botao {
  text-align: center;
}
#planos .plano .botao a {
  display: inline-block;
  clear: both;
  width: 100%;
  max-width: 185px;
  height: 50px;
  text-align: center;
  font: 1em 'cera', sans-serif;
  color: $primary;
  border: $primary solid 2px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-top: 40px;
  text-decoration: none;
  line-height: 48px;
  @include transition();
}
#planos .plano .botao a:hover {
  color: #fff;
  background: $primary;
}

#planos .slick-list {
  padding: 0 !important
}
#planos .plano-active .plano,
#planos .slick-center .plano {
  background: $primary;
  border-color: $primary;
  padding-top: 100px;
  margin-top: -50px;
}
#planos .plano-active .plano .icon,
#planos .slick-center .plano .icon {
  color: #fff;
}
#planos .plano-active .plano p.mb .price,
#planos .plano-active .plano p.mb .sinais,
#planos .plano-active .plano .desc,
#planos .slick-center .plano p.mb .price,
#planos .slick-center .plano p.mb .sinais,
#planos .slick-center .plano .desc {
  color: #fff;
}
#planos .plano-active .plano .desc-price,
#planos .slick-center .plano .desc-price {
  color: #1c1c1c
}
#planos .plano-active .plano .botao a,
#planos .slick-center .plano .botao a {
  background: $primaryStrong;
  border-color: $primaryStrong;
  color: #fff;
}
#planos .slick-slide {
  outline: none
}
#planos .slick-list {
  padding-top: 50px !important
}

#planos .slide {
  position: relative;
}
#planos .slide .arrows.hidden {
  display: none;
}
#planos .slide .arrows {
  width: 107px;
  height: 107px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  border: #d5d8db solid 2px;
  font-size: 1.5em;
  color: $primary;
  line-height: 107px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  @include transition();
}
#planos .slide .arrows.prev {
  left: -110px;
}
#planos .slide .arrows.prev .icon {
  display: inline-block;
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}
#planos .slide .arrows.next {
  right: -110px;
}
#planos .slide .arrows:hover {
  background: $primary;
  color: #fff;
}
#planos .center {
  padding: 0 80px;
}
#planos .center.center-full {
  padding: 0;
}



@media (max-width: 1550px) {
  #planos .plano p.mb .sinais.mais {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {


}

@media (max-width: 992px) {
  #planos .plano {
    padding: 20px 15px;
  }
  #planos .plano .icon {
    font-size: 3.5em;
  }
  #planos .plano .icon-2 {
    font-size: 5em
  }
  #planos .plano h5 {
    margin-top: 15px;
    font-size: 1em
  }
  #planos .plano .desc {
    font-size: .88em;
    min-height: 150px
  }
  #planos .plano p.mb .price {
    font-size: 5.8em;
    letter-spacing: -8px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #planos .plano p.desc-price {
    font-size: 1em
  }
  #planos .plano .infos p {
    font-size: 1em;
  }
  #planos .plano .botao a {
    height: 42px;
    line-height: 42px;
    font-size: .88em;
    max-width: 150px;
    margin-top: 15px;
  }

  #planos .center {
      padding: 0 40px;
  }
  #planos .slide .arrows {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  #planos .slide .arrows.next {
    right: -80px;
  }
  #planos .slide .arrows.prev {
    left: -80px;
  }
  #planos .plano-active .plano,
  #planos .slick-center .plano {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  #planos {
    padding: 100px 0;
  }

  #planos .center {
    padding: 0 70px !important;
  }

  #planos .plano .desc {
    max-width: 300px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #planos .plano .line span {
    max-width: 300px;
  }

  #planos .plano-active .plano,
  #planos .slick-center .plano {
    padding-top: 20px;
    margin-top: 0;
  }
  #planos .plano .icon-2 {
    margin-top: -10px;
    font-size: 5em
  }

  #planos .slide .arrows.hidden {
    display: block;
  }
}

@media (max-width: 576px) {
  #planos {
    padding: 50px 0;
  }

  #planos .descricao {
    font-size: .88em;
    margin-top: 0px;
  }

  #planos .plano .botao a {
    font-size: .8em
  }
}


// 350
// 290
// 210
//
// 100%
