.clear {
  width: 100%;
  float: left;
}

#header {}
#header .line {
  padding: 10px 0;
  background: $secundary;
  text-align: center;
}

#header .line img {
  display: inline-block;
  vertical-align: -8px;
  margin-right: 15px;
}
#header .line p {
  display: inline-block;
  font: 1.188em 'cera';
  color: #fff;
  margin-bottom: 0
}
#header .line p.small {
  display: none;
}
#header .line .bt {
  display: inline-block;
  padding: 10px 23px;
  background: #115734;
  color: #fff;
  font: 1em 'cera';
  margin-left: 50px;
  text-decoration: none;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}
#header .line .bt:hover {}
#header .line .icon-boleto {
  color: #fff;
  font-size: 2em;
  vertical-align: -5px;
}

#header .menu {
  background: $primary;
  padding-bottom: 40px
}

#header .city {
  margin-top: 25px;
}
#header .city .right {
  float: right;
}
#header .city .right .maps {
  display: inline-block;
  margin-right: 12px;
  font-size: 1.88em;
  color: #1c1c1c;
  vertical-align: middle
}
#header .city .right p {
  display: inline-block;
  font: italic 1em 'klinic';
}
#header .city .right p a {
  color: $primaryStrong;
  text-decoration: none;
}
#header .city .right .barra {
  width: 1px;
  height: 28px;
  background: $primaryStrong;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}
#header .city .right .barra.white {
  display: none;
}
#header .city .right .link {
  display: inline-block;
  font: italic 1em 'klinic';
  color: $primaryStrong;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  .icon {
    color: #1c1c1c;
    font-size: 1.8em;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
}
#header .city .right .link:hover {
  color: #fff;
}
#header .city .right .link:hover .icon {
  color: #fff;
}

#header .menu .logo {
  float: left;
  margin-top: 5px
}
#header .menu .logo img {
  max-height: 57px;
}
#header .menu nav {
  float: right;
  margin-top: 20px
}
#header .menu nav ul {
  float: right;
  padding: 0;
  margin: 0;
}
#header .menu nav ul li {
  float: left;
  padding: 0;
  margin: 0 12px;
  list-style: none;
}
#header .menu nav ul li a {
  font: 700 1em 'cera';
  color: $primaryStrong;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#header .menu nav ul li a:hover {
  color: #fff;
}
#header .menu nav ul li.assinante {
  margin-right: 0;
}
#header .menu nav ul li.assinante a {
  padding: 10px 23px;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  text-decoration: none;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: all .2
}
#header .menu nav ul li.assinante a:hover {
  background: #222;
  border-color: #222;
  color: #fff;
}

#header .toogle-mobile {
  display: none;
  float: right;
  width: 40px;
  border-top: #222 solid 5px;
  border-bottom: #222 solid 5px;
  span {
    width: 100%;
    height: 5px;
    margin: 7px 0;
    background: #222;
    display: block;
  }
}

.load-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  z-index: 9;
  display: none;
}



#footer {
  border-top: #1c1c1c solid 2px;
  padding: 90px 0 170px 0;
}
#footer .menu {
  margin-bottom: 160px;
  position: relative;
  z-index: 1
}
#footer ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 17px;
}
#footer ul li {
  float: left;
  padding: 0;
  margin: 0 12px;
  list-style: none;
}
#footer ul li a {
  font: 700 1em 'cera';
  color: #666;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#footer ul li a:hover {
  color: $primary;
}
#footer ul li.redes {
  margin-top: -26px;
}
#footer ul li.redes a {
  margin: 0 8px;
}
#footer ul li.redes a .icon {
  font-size: 3.4em;
  color: $primary;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#footer ul li.redes a:hover .icon {
  color: $secundary
}

#footer .center {
  max-width: 1650px;
  padding: 0 20px
}
#footer .rodape .bg {
  display: block;
  margin: 0 auto;
  font-size: 84vw;
  margin-top: -31.5vw;
  margin-bottom: -28.45vw;
  text-align: center;
  color: $primary;
}
#footer .rodape .line {
  width: 100%;
  display: block;
  height: 3px;
  background: $primary;
  position: relative;
  z-index: 10
}
#footer .rodape .info {
  margin-top: 20px;
}
#footer .rodape .info p {
  font: 700 1.125em 'cera';
  color: $primary;
  text-align: center;
}
#footer .rodape .info p span {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background: $primary;
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  vertical-align: 15px;
}
#footer .rodape .info p.none span {
  background: #fff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}




@media (max-width: 992px) {

  #header .menu {
    padding-bottom: 30PX;
  }
  #header .menu .logo {
    margin-top: -5px;
  }
  #header .menu .logo img {
    max-height: 47px;
  }
  #header .menu nav {
    margin-top: 10px;
  }
  #header .menu nav ul li {
    margin: 0 7px;
  }
  #header .menu nav ul li a {
    font-size: .88em;
  }
  #header .menu nav ul li.assinante a {
    padding: 10px;
  }

  #footer {
    padding: 70px 0 50px
  }
  #footer .menu {
    margin-bottom: 80px
  }
  #footer ul li {
    margin: 0 7px;
  }
  #footer ul li a {
    font-size: .88em;
  }
  #footer ul li.redes {
    margin-top: -13px;
  }
  #footer ul li.redes a {
    margin: 0 3px;
  }
  #footer ul li.redes a img {
    max-width: 50px;
  }
}

// Personalizado
@media (max-width: 862px) {
  #header .line p.big {
    display: none;
  }
  #header .line p.small {
    display: inline-block;
  }
  #header .line .bt {
    margin-left: 13px;
  }
}

@media (max-width: 768px) {
  #header .menu .logo {
    margin-top: -50px;
  }

  #footer .menu {
    text-align: center;
    margin-bottom: 200px;
  }
  #footer .menu .logo {
    display: inline-block;
  }
  #footer ul {
    width: 100%;
  }
  #footer ul li {
    float: none;
    display: inline-block;
  }
  #footer ul li.redes {
    margin-top: 10px;
    display: block;
  }

  #footer .rodape .info {
    margin-top: 15px;
  }
  #footer .rodape .info p {
    font-size: 1em
  }
  #footer .rodape .info p span {
    width: 23px;
    height: 23px;
    line-height: 23px;
  }
}

@media (max-width: 576px) {
  #header .line {
    display: none;
  }

  #header .menu {
    padding: 15px 0;
    position: relative;
  }
  #header .menu .logo {
    margin: 0;
  }
  #header .menu .logo img {
    max-height: 30px
  }

  #header .menu nav {
    position: fixed;
    top: 0;
    left: -220px;
    z-index: 10;
    background: #0f0;
    width: 220px;
    height: 100%;
    background: $primary;
    margin: 0;
    padding-top: 15px;
    border-right: 4px solid #333;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  #header .menu nav.active {
    left: 0;
  }
  #header .menu nav li {
    width: 100%;
    padding: 0;
  }
  #header .menu nav li a {
    width: 100%;
    padding: 15px 10px 0;
    float: left;
  }
  #header .menu nav li.assinante {
    margin-top: 25px
  }
  #header .menu nav li.assinante a {
    width: auto;
    margin-left: 10px;
  }

  #header .city {
    // display: none;
    width: auto;
    position: absolute;
    right: 80px;
    top: -8px;
  }
  #header .city .right .maps,
  #header .city .right .barra,
  #header .city .right .link {
    display: none;
  }

  #header .toogle-mobile {
    display: block;
  }

  #footer .rodape .info p span {
    display: block;
    margin: 0 auto
  }

}

@media (max-width: 500px) {
  #footer {
    padding: 40px 0;
  }
  #footer .menu {
    margin: 0;
  }
  #footer .rodape {
    display: none !important;
  }
}
