
#regiao.vsp { background: url('/../img/regiao-vsp.png') center no-repeat #fff }
#regiao.crz { background: url('/../img/regiao-crz.jpg') center no-repeat #fff }
#regiao.direct { background: url('/../img/regiao-direct.jpg') center no-repeat #fff }
#regiao.vibe { background: url('/../img/regiao-vibe.png') center no-repeat #fff }
#regiao {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
#regiao .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3)
}

#regiao .center {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#regiao .container.infos {
  margin-top: -80px;
}

#regiao .logo {
  max-height: 100px;
}
#regiao h1 {
  font: 4.375em 'cera', sans-serif;
  color: #fff;
  margin-top: 30px;
  padding: 0;
  line-height: 68px;
  letter-spacing: -3px;
}




#regiao .emissao {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2
}
#regiao .emissao .container {
  position: relative;
}
#regiao .emissao .bloco {
  position: absolute;
  bottom: 0;
  right: 0;
}
#regiao .emissao .bloco .link {
  display: inline-block;
  padding: 14px 40px 10px 20px;
  background: $primary;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  @include transition();
}
#regiao .emissao .bloco .link:hover {
  background: $secundary
}
#regiao .emissao .bloco .link span {
  display: inline-block;
  margin-left: 10px;
  font: 700 1.188em 'cera', sans-serif;
  color: #fff;
  vertical-align: middle;
  letter-spacing: -1px;
}
#regiao .emissao .bloco .link .icon {
  font-size: 3em
}

#regiao .emissao .bloco .fechar {
  width: 30px;
  height: 30px;
  font: 1em 'cera', sans-serif;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
#regiao .emissao .bloco .fechar img {
  max-width: 10px;
  display: inline-block;
  margin-top: 10px;
  @include transition();
}
#regiao .emissao .bloco .fechar:hover img {
  transform: scale(1.4);
}





#regiao .botao {
  width: 63px;
  height: 63px;
  float: right;
  clear: both;
  background: #fff;
  border: none;
  z-index: 1;
  margin-top: -67px;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
  font-size: 1.8em;
  color: $primary;
  @include transition();
}
#regiao .botao:hover {
  color: $secundary
}
#regiao .select {
  margin-top: 30px;
  max-width: 450px;
}
#regiao .chosen-container {
  width: 100% !important;
  float: left;
  background: none;
}
#regiao .chosen-container .chosen-single {
  height: 70px !important;
  background: url('/../img/maps-regiao.png') 15px center no-repeat #fff;
  box-shadow: none;
  -webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:none !important;
	border-color: #fff;
}
#regiao .chosen-container .chosen-single span {
  color: #636363;
	font: 1.2em 'cera', sans-serif;
  margin-top: 25px;
  margin-left: 55px;
}
#regiao .chosen-container-single .chosen-single div {
  width: 70px;
  height: 70px;
  // display: none;
}
#regiao .chosen-container-single .chosen-single div b::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  margin: 20px 18px 0 0;
  content: "\e915";
  color: $primary;
  font-size: 2em;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#regiao .chosen-container .chosen-results {
  max-height: 150px;
}
#regiao .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: center -27px;
}
#regiao .chosen-container-active.chosen-with-drop .chosen-single {
  border-bottom: none !important;
  background: url('/../img/maps-regiao.png') 15px center no-repeat #fff;
  -webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
  // border-color: #bd8f3e;
}
#regiao .chosen-with-drop{
  background: none;
}
#regiao .chosen-with-drop .chosen-drop{
  background: $primary;
  border-top: none !important;
 	border-color: $primary;
}
#regiao .chosen-with-drop .chosen-single{
  background: none;
}
#regiao .chosen-container .chosen-results{margin-top: 15px;}
#regiao .chosen-container .chosen-results li{
  padding-top: 5px;
  padding-bottom: 6px;
  color: #fff;
  font: 1.2em 'cera', sans-serif;
}
#regiao .chosen-container .chosen-results li.highlighted{
  background: #fff;
  color:$primary;
}
#regiao .chosen-container .chosen-search{display: none;}


#regiao .chosen-container-single,
#regiao .chosen-container-active,
#regiao .chosen-with-drop{
  background: none;
}


#regiao .invalid .chosen-drop,
#regiao .invalid .chosen-single{
  border-color: #de5d5d !important;
}
#regiao .invalid .chosen-single span {
  color: #de5d5d;
}
#regiao .invalid .chosen-single div b{
/*background: url(../img/custom-select-invalid.png) 0 0 no-repeat;*/
}



#regiao .telefone {
  float: left;
  clear: both;
  color: #fff;
  margin-top: 30px;
}











@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  #regiao .container.infos {
    margin-top: -200px;
  }
  #regiao h1 {
    font-size: 3em;
    line-height: 50px;
    letter-spacing: 2px
  }

}

@media (max-width: 576px) {

  #regiao .logo {
    margin: 0 auto;
    display: block;
    max-height: 45px;
  }
  #regiao h1 {
    font-size: 2em;
    line-height: 30px;
    text-align: center;
  }
  #regiao .emissao .bloco {
    right: 15px;
  }
  #regiao .emissao .bloco .link {
    padding: 11px 32px 8px 13px;
  }
  #regiao .emissao .bloco .link span {
    font-size: 1em;
    line-height: 17px;
  }
  #regiao .emissao .bloco .fechar {
    right: 9px;
    top: 10px;
  }

}
