
.faq {
  padding: 100px 0;
}


.faq .titulo {
  padding: 0 15px;
}
.faq .titulo h2 {
  margin: 0;
  padding: 0;
  color: $primary;
  font: 4.375em 'cera';
  text-align: center;
}
.faq .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c
}


.faq .botao {
  text-align: center;
  margin-bottom: 50px;
}
.faq .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.faq .botao a:hover {
  background: $secundary;
}


.faq .perguntas {
  margin-top: 40px;
}
.faq .perguntas .max-width {
  max-width: 1080px;
  margin: 0 auto
}
.faq .perguntas .cont {
  margin-bottom: 25px;
}
.faq .perguntas .cont .title {
  padding: 20px;
  padding-right: 53px;
  border: #d5d8db solid 2px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: 1.125em 'cera';
  color: #1c1c1c;
  position: relative;
  text-decoration: none;
}
.faq .perguntas .cont .title .icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  color: $primary;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);
}
.faq .perguntas .cont.active .title .icon {
  -webkit-transform: rotate(270deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(270deg);        /* FF */
  -o-transform: rotate(270deg);          /* Opera */
  -ms-transform: rotate(270deg);         /* IE9 */
  transform: rotate(270deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');

}
.faq .perguntas .cont .title:hover img {
  margin-top: 0;
}
.faq .perguntas .cont.active .title:hover img {
  margin-top: -16px;
}
.faq .perguntas .cont.active .title {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.faq .perguntas .cont .info {
  background: #f3f3f3;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  height: 0;
  overflow: hidden;
}
.faq .perguntas .cont .info .detalhe {
  padding: 20px;
}
.faq .perguntas .cont .info .detalhe p {
  font: italic 1.1em 'klinic';
  color: #1c1c1c;
  margin-bottom: 0;
}
