
.internet.vsp { background: url('/../img/internet-para-todos-vsp.jpg') center top no-repeat }
.internet.crz { background: url('/../img/internet-para-todos-crz.jpg') center top no-repeat }
.internet.direct { background: url('/../img/internet-para-todos-direct.jpg') center top no-repeat }
.internet.vibe { background: url('/../img/internet-para-todos-vibe.jpg') center top no-repeat }
.internet {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.internet .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4)
}
.internet h1 {
  font: 4.375em 'cera';
  color: #fff;
  text-align: center;
  padding: 0 15px;
  position: relative;
  z-index: 1
}
.internet p {
  font: italic 1.688em 'klinic';
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1
}
.internet .botao {
  text-align: center;
  position: relative;
  z-index: 1
}
.internet .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  margin-top: 40px;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.internet .botao a:hover {
  background: $secundary;
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .internet h1 {
    font-size: 2.5em
  }
  .internet p {
    font-size: 1.2em
  }
  .internet .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {

}
