
.midias.vsp { background: url('/../img/midias-vsp.jpg') center top no-repeat }
.midias.crz { background: url('/../img/midias-crz.jpg') center top no-repeat }
.midias.direct { background: url('/../img/midias-direct.jpg') center top no-repeat }
.midias.vibe { background: url('/../img/midias-vibe.jpg') center top no-repeat }
.midias {
  width: 100%;
  position: relative;

  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.midias .center {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  // justify-content: center;

}
.midias .infos {
  width: 100%;
}

.midias .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4)
}
.midias h1 {
  font: 4.313em 'cera';
  color: #fff;
  position: relative;
  z-index: 1;
  line-height: 65px;
  letter-spacing: -2px;
}
.midias p {
  font: italic 1.688em 'klinic';
  color: #fff;
  position: relative;
  z-index: 1;
}

.midias .links {
  position: relative;
  z-index: 1
}
.midias .links .bt {
  display: inline-block;
  padding: 10px 23px;
  background: rgba(0,0,0,.5);
  color: #fff;
  font: 700 1.188em 'cera';
  text-decoration: none;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.midias .links .bt:hover {
  color: #1c1c1c;
  background: #fff
}
.midias .links .tour {
  font: 700 1.188em 'cera';
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
.midias .links .tour img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.midias .links .tour:hover img {
  margin-left: 10px;
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .midias h1 {
    font-size: 2.5em
  }
  .midias p {
    font-size: 1.2em
  }
  .midias .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .midias h1 {
    line-height: 42px;
  }
}
