.pensando {
  background: #fff;
  padding: 200px 0;
}
.pensando .titulo {
  padding: 0 15px;
}
.pensando .titulo h2 {
  margin: 0;
  padding: 0;
  color: $primary;
  font: 4.375em 'cera';
  text-align: center;
}
.pensando .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c
}

.pensando .botao {
  text-align: center;
  margin-bottom: 50px;
}
.pensando .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.pensando .botao a:hover {
  background: $secundary;
}


.pensando .max-width {
  max-width: 1000px;
  margin: 0 auto;
}
.pensando .rows {
  margin: 0;
  padding: 0;
}
.pensando .cols {
  margin: 0;
  padding: 0;
}
.pensando .info {
  border: #d5d8db solid 2px;
  padding: 15px;
  padding-bottom: 50px;
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
  text-align: center;
}
.pensando .info.left {
  border-right: 0;
  -webkit-border-radius: 8px 0 0;
  border-radius: 8px 0 0;
}
.pensando .info h4 {
  font: 1.875em 'cera';
  color: #1c1c1c;
  text-align: center;
  margin-top: 25px;
}
.pensando .info p.desc {
  font: italic 1.188em 'klinic';
  color: #1c1c1c;
  text-align: center;
  margin-bottom: 0;
}
.pensando .info p.mb {
  font: 9.375em 'cera';
  color: $primary;
  text-align: center;
  margin-top: -25px;
  letter-spacing: -15px;
}
.pensando .info p.mb span {
  font-size: 0.467em;
  letter-spacing: -6px;
  font-weight: 700;
  margin-left: -10px
}

.pensando .info .line {
  display: block;
  padding: 0 15px;
  text-align: center;
  margin-top: -20px;
}
.pensando .info .line span {
  width: 100%;
  max-width: 415px;
  height: 2px;
  background: #1c1c1c;
  display: inline-block;
}
.pensando .info a.regiao {
  font: italic 1em 'klinic';
  color: $primary;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.pensando .info a.regiao:hover {
  color: $secundary;
}

.pensando .info .infos {
  margin-top: 30px;
  text-align: center;
}
.pensando .info .infos p {
  font: 1.188em 'cera';
  color: #1c1c1c;
  margin-bottom: 0;
}
.pensando .info .infos p span {
  font-weight: 700
}

.pensando .info a.bt {
  display: inline-block;
  padding: 20px 25px;
  border: $primary solid 2px;
  color: #1c1c1c;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  margin-top: 40px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.pensando .info a.bt:hover {
  background: $primary;
  color: #fff;
}



.pensando .mude p {
  padding: 25px 40px;
  display: block;
  border: #d5d8db solid 2px;
  border-top: 0;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  text-decoration: none;
  font: 700 1.875em 'cera';
  color: $primary;
  text-align: center;
}




@media (max-width: 1200px) {
  .pensando .mude p {
    font-size: 1.3em
  }
}

@media (max-width: 992px) {
  .pensando .mude p {
    padding: 20px 15px;
  }
}

@media (max-width: 768px) {
  .pensando {
    padding: 100px 0;
  }
  .pensando .info {
    // border-top: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .pensando .info.left {
    border-top: #d5d8db solid 2px;
    border-bottom: 0;
    border-right: #d5d8db solid 2px;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
  }

  .pensando .info {
    padding-bottom: 25px;
  }

}

@media (max-width: 576px) {
  .pensando {
    padding-top: 50px;
  }
  .pensando .titulo {
    margin-bottom: 20px;
  }
  .pensando .titulo h2 {
    font-size: 2em
  }
  .pensando .titulo p {
    font-size: 1em
  }

  .pensando .info h4 {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .pensando .info p.mb {
    font-size: 7em
  }

  .pensando .botao p {
    font-size: 1em;
    padding: 15px 20px
  }

}
