.vantagens {
  background: #fff;
  padding: 200px 0;
}
.vantagens .titulo {
  margin-bottom: 70px;
  padding: 0 15px;
}
.vantagens .titulo h2 {
  margin: 0;
  padding: 0;
  color: $primary;
  font: 4.375em 'cera';
  text-align: center;
}
.vantagens .titulo p {
  font: italic 1.5em 'klinic';
  text-align: center;
  color: #1c1c1c
}

.vantagens .rows {
  margin: 0;
  padding: 0;
}
.vantagens .cols {
  margin: 0;
  padding: 0;
}
.vantagens .info {
  border: #d5d8db solid 2px;
  padding: 15px;
  padding-bottom: 150px;
}
.vantagens .info.left {
  border-right: 0;
}
.vantagens .info h4 {
  font: 1.875em 'cera';
  color: $primary;
  text-align: center;
  margin-top: 25px;
}
.vantagens .info .detalhe {
  text-align: center;
  margin: 15px 0;
  left: 25px;
  padding-left: 30px;
}
.vantagens .info .detalhe .center {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}
.vantagens .info .detalhe p {
  display: inline-block;
  text-align: left;
  font: 1.250em 'cera';
  color: #1c1c1c;
  margin-left: 20px;
  margin-top: 30px;
  vertical-align: bottom;
}
.vantagens .info .detalhe .icon {
  color: $primary;
  font-size: 4.3em
}
.vantagens .info .detalhe img {
  vertical-align: bottom;
}


.vantagens .botao {
  text-align: center;
}
.vantagens .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $primary;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  margin-top: -90px;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.vantagens .botao a:hover {
  background: $secundary;
}
.vantagens .mude {
  margin-top: 50px;
}
.vantagens .mude a {
  padding: 25px 40px;
  display: block;
  background: $primaryStrong;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.vantagens .mude a .left {
  font: 700 1.875em 'cera';
  color: $primary
}
.vantagens .mude a .rigth {
  font: italic 1.5em 'klinic';
  color: $primary;
  margin-left: 35px;
}
.vantagens .mude a .rigth .icon {
  vertical-align: sub;
  font-size: 1.3em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.vantagens .mude a:hover .rigth .icon {
  margin-left: 15px;
}


@media (max-width: 1200px) {
  .vantagens .mude a .left {
    font-size: 1.5em
  }
  .vantagens .mude a .rigth {
    font-size: 1.2em;
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .vantagens .mude a {
    padding: 20px 15px;
  }
  .vantagens .mude a .left {
    font-size: 1.2em
  }
  .vantagens .mude a .rigth {
    font-size: 1em;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .vantagens {
    padding: 100px 0;
  }
  .vantagens .info {
    // border-top: 0;
  }
  .vantagens .info.left {
    border-top: #d5d8db solid 2px;;
    border-bottom: 0;
    border-right: #d5d8db solid 2px;;
  }

  .vantagens .info {
    padding-bottom: 25px;
  }
  .vantagens .botao a {
    margin-top: 30px;
  }

  .vantagens .mude a {
    text-align: center;
  }
  .vantagens .mude a .rigth {
    font-size: 1em;
    margin-left: 0;
    display: block;
  }
  .vantagens .mude a .rigth img {
    display: none;
  }
}

@media (max-width: 576px) {
  .vantagens {
    padding-top: 50px;
  }

  .vantagens .info h4 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .vantagens .info .detalhe {
    padding: 0;
  }
  .vantagens .info .detalhe .center {
    max-width: 100%;
    text-align: center;
  }
  .vantagens .info .detalhe .icon {
    font-size: 3em;
  }
  .vantagens .info .detalhe p {
    font-size: 1em;
  }

  .vantagens .botao a {
    font-size: 1em;
    padding: 15px 20px
  }

  .vantagens .info .detalhe p {
    vertical-align: super;
  }

}
