
.entre-nessa.vsp { background: url('/../img/entre-nessa-vsp.jpg') center top no-repeat }
.entre-nessa.crz { background: url('/../img/entre-nessa-crz.jpg') center top no-repeat }
.entre-nessa.direct { background: url('/../img/entre-nessa-direct.jpg') center top no-repeat }
.entre-nessa.vibe { background: url('/../img/entre-nessa-vibe.jpg') center top no-repeat }
.entre-nessa {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  // -webkit-justify-content: center;
  // justify-content: center;

  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.entre-nessa .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4)
}
.entre-nessa .container {
  position: relative;
  z-index: 1
}
.entre-nessa .infos {
  float: right;
}
.entre-nessa h1 {
  font: 4.375em 'cera';
  color: #fff;
  text-align: left;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  padding: 0;
  line-height: 60px
}

.entre-nessa .img-vibe {
  display: none;
}
.entre-nessa.vibe .img-vibe {
  width: 100%;
  display: block;
  max-width: 300px;
  margin-bottom: 30px;
  display: block;
  margin-top: -30px;
}
.entre-nessa.vibe .infos {
  float: left;
}
.entre-nessa.vibe h1 {
  display: none;
}
.entre-nessa.vibe .botao {
  padding-left: 10px
}

.entre-nessa .botao {
  text-align: left;
  position: relative;
  z-index: 1
}
.entre-nessa .botao a {
  display: inline-block;
  padding: 20px 25px;
  background: $secundary;
  color: #fff;
  font: 700 1.188em 'cera';
  -webkit-border-radius: 32px;
  border-radius: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.entre-nessa .botao a:hover {
  background: $primary;
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .entre-nessa h1 {
    font-size: 2.5em
  }
  .entre-nessa p {
    font-size: 1.2em
  }
  .entre-nessa .botao a {
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .entre-nessa {
    max-height: 500px
  }
  .entre-nessa .infos {
    float: none;
  }
  .entre-nessa h1 {
    text-align: center;
  }
  .entre-nessa .botao {
    text-align: center;
    padding-left: 0;
  }
}
